[2019-11-08 09:03] linuxbsdfreak commented on #2568
@antonosmond . Thx for the info. My setup as a follows

1 cluster per env which is mapped to a git branch.

for eg. K8s clusters (poc, dev, stg) and flux is configured to pull for the relevant branches in git. It would be be nice to have flux the scenario mentioned above along with what i have.

[2019-11-08 09:20] foot commented on #2517
Does fluxd hit up the https://hub.docker.com/v2/repositories/metallb/controller/tags?page_size=100 api or is it another one?

[2019-11-08 10:15] foot commented on #2517
[code]

And `testgomake` is indeed there in the response:

<details>
<summary>Response</summary>

</detals>

[2019-11-08 10:17] 2opremio commented on #2517
That's the tag, but not the metadata associated to the tag, let me try to gather what specific api we are obtaining

[2019-11-08 10:23] foot commented on #2517
Ah, I see.

[code]
Gives
`{"errors":[{"code":"MANIFEST_UNKNOWN","message":"manifest unknown","detail":{"Name":"metallb/controller","Revision":"sha256:f87bf4a1f0846b226886089890cea78d651e97ba284edc26a018ed88d72d2d89"}}]}`

[2019-11-08 10:28] 2opremio commented on #2571
@AlessandroEmm your setup produces a duplicated resource. To find it I created the following `kustomization.yaml` file and added it to the root of the repo:

[code]

When running `kustomize build .` at the root of the repo I get the following error:

[code]

Which means that the flux namespace is produced in different `--git-paths`.

Flux should get better at reporting the error (including the `--

[2019-11-08 10:33] 2opremio commented on #2517
Exactly

[2019-11-08 10:34] #2517 closed

[2019-11-08 10:54] runningman84 commented on #2517
Could  you give me a final verdict here, is that something that metallb or flux has to fix?

[2019-11-08 10:57] 2opremio commented on #2517
@runningman84 The problem is that the registry is corrupted. It contains a tag with no metadata. As a result, Flux disables any operations involving that tag (e.g. automatic upgrades in which that tag is a candidate). Otherwise, Flux will operate normally.

Flux is conservative and prefers not to do anything since ignoring the corrupted tag (e.g. during a transient error) could lead to upgrading t

[2019-11-08 11:02] 2opremio opened #2595 "Improve error messages involving resources from `.flux.yaml` files"
In #2571 we see an error message which isn't very helpful:

[code]

The message should also include:
1. The ID of the resource (Namespace,Kind,Name)
2. The `--git-path` involved when loading the `.flux.yaml` file.

[2019-11-08 11:03] 2opremio commented on #2571
Closing since the root cause is found. I have created #2595 to improve the error message Flux gives.

@AlessandroEmm please reopen if you think the issue isn't solved.

[2019-11-08 11:03] #2571 closed

[2019-11-08 11:05] foot commented on #2517
I had a quick look around but couldn't figure out how to easily remove a tag from a docker registry.

It would be handy to have some steps to provide metallb / other maintainers on how to resolve this.

[2019-11-08 11:24] 2opremio commented on #2553
Sorry it took a while to answer. I would add a `kustomization.yaml` file and a `.flux.yaml` file like the following:

`kustomization.yaml`
[code]

`.flux.yaml`
[code]

The `flux-patch.yaml` file will be automatically created and added to the repo when needed, to store patches added by flux (such as automatic image upgrades and annotation changes). If you are not interested in that functionality yo

[2019-11-08 11:25] 2opremio commented on #2553
I am closing this since I think I addressed your question. However, please let me know if you need any clarifications

[2019-11-08 11:25] #2553 closed

[2019-11-08 12:20] kallanseto commented on #2591
Thanks, good to hear that you've got it working with OpenShift 3.11.  I checked through my manifests and it turns out the issue is that oc accepts "null" as values for some keys whereas kubectl validation rejects them.  I changed the "null" to "[]" and am no longer getting any errors using the standard flux image and kubectl so will go with that!

I'm still wondering why the oc replacement wouldn'

[2019-11-08 15:09] AlessandroEmm commented on #2571
@2opremio
I'm not sure I understood exactly - as far as I can tell kustomize struggles because the _unpatched_ resources are the same (they are mostly apart from the namespace and the URL for flux) I'm not sure how that is related to the .flux file being detected as duplicate? As far as I understood from the source the ID-check happens before running kustomize.

[2019-11-08 15:20] foot commented on #2517
Known bad manifests reported by users:
- `metallb/controller:testgomake`
- `drone/drone:1.0.0-rc.6`

[2019-11-08 15:28] hiddeco commented on #2517
@foot the best way to remove a tag that is no longer bound to any manifests is to overwrite the tag with a new (unique) image, and subsequently deleting this image.

[2019-11-08 15:45] lgebhardt commented on #2589
Update, I have confirmed my secret's generated auth section is good.

I have confirmed flux is using the secret from the fluxcd namespace since it logs that it's not found when I delete it.

I am still however getting failures:

[code]
The account at docker hub is linked to an organization. The account used is a member of a team with admin rights in the organization.

Any ideas?

[2019-11-08 16:27] hiddeco commented on #2589
@lgebhardt I get the impression that you are attaching the `imagePullSecret` to Flux. The `imagePullSecret` should be attached to the workload that makes use of the image, or the service account assigned to the workload, and not Flux itself.

[2019-11-08 16:36] 2opremio commented on #2571
Flux detects a problem related to duplicated resources. The error message is confusing but it refers to the generated resources by the `.flux.yaml` file, not that file itself.

The Kustomize problem is equivalent, solve it (by removing the duplicate) and Flux will also work

Kustomize struggles because the final resources are the same, including the namespace (two resources are the same if they ha

[2019-11-08 17:46] lgebhardt commented on #2589
@hiddeco I had set it on the helm-operator like:

[code]

When I rebuilt my cluster without that I no longer get the message about the missing regcred, even when they are missing. This is the state I was in when I first made this issue.

How do I attach the `imagePullSecret` to the workload or service account?

[2019-11-09 11:06] lgebhardt commented on #2589
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account

I got past the auth error by adding the imagePullSecret to the namespace's default serviceaccount.

[code]

The confusing part to me was I thought I needed to do this for the `flux` serviceaccount, or the flux namespace.

[2019-11-09 11:11] lgebhardt commented on #2564
@kwontae I was running into this, and added a note to the issue I opened that might help you https://github.com/fluxcd/flux/issues/2589#issuecomment-552089581

[2019-11-11 10:15] squaremo commented on #2571
`dir1/dir2` and `dir2` aren't overlapping paths. But that aside: if fluxd finds a `.flux.yaml` in a subdirectory, it must be looking for plain YAMLs, since if it was processing a `.flux.yaml` file already, it would be doing that instead. So the scenario in which two paths with a `.flux.yaml` file are given, is not what I'm addressing here.

It is _possible_ that you want to have a subdirectory tha

[2019-11-11 10:33] elzapp commented on #738
But it wouldn't work well if you run multiple clusters from the same repsoitory, and/or use generators. (Kustomize/CommandUpdated... etc)

Step 1-3 is fine though. The traceability is fine anyway, because Flux tags it's synchronization point.

You could script step 4 from the outside when you see all the sync tags has passed the deletion commit.

[2019-11-11 12:31] 2opremio commented on #2571
I meant `dir1/dir2` and `dir1`, sorry

Thanks for the explanation, now I know what you meant.

[2019-11-11 15:40] antegulin opened #2600 "Helm Operator attempts to clone git repo with an invalid URL"
**Describe the bug**
When installing flux via helm, the value supplied in`git.url` is not the final URL which will be used by the fluxcd to clone the repo.

**To Reproduce**
1. Install fluxcd with Helm
[code]

2. See helm operator logs
```kubectl -n flux logs flux-helm-operator```

3. Find that helm operator attempts to clone a git repo with invalid URL
[code]

**Expected behavior**
I expected the

[2019-11-11 15:43] stefanprodan commented on #2600
The Helm Operator doesn't uses the git URL passed to Flux at install time. Check your HelmRelease files, one of them has the `git@bitbucket.com/foo/config`.

[2019-11-11 16:03] squaremo opened #2601 "Record of changed resources in events is inaccurate"
In `pkg/daemon/sync.go` there's a calculation of which Kubernetes resources were changed in the most recent application, which is recorded in the event posted upstream (wherever that is). But it's pretty bogus, because

 - it thinks all the resources defined in a file have changed, if that file has changed at all;
 - it considers all resources generated by a `.flux.yaml` config to have changed, ev

[2019-11-12 07:53] #2600 closed

[2019-11-12 12:45] 2opremio opened #2602 "`fluxctctl list-workloads` shows empty `POLICY` column"
**Describe the bug**

When running https://github.com/weaveworks/flux-kustomize-example using `--gitpath=production`,  `fluxctl list-workloads -n demo` using  shows an empty POLICY column

[code]

The POLICY should be `locked`

**To Reproduce**

Run test `22_manifest_generation.bats` in the `master` branch

[code]

**Expected behavior**

The output of `fluxctl list-workloads -n demo` should be

[c

[2019-11-12 15:36] 2opremio commented on #2199
I think we can close this, since it's addressed in https://github.com/fluxcd/flux/issues/2199

[2019-11-12 15:36] #2199 closed

[2019-11-12 17:33] texasbobs opened #2605 "unable to fetch node CPU metrics"
We are using Flux 1.13.2 and in some clusters, it no longer clones repos to be synced.  The error seems to indicate it is unable to execute a query on the Prometheus api.
[code]

How can we prevent this from stopping the sync?

Why does Flux care about CPU metrics at all?

It looked like there was a PR to ignore these types of errors back in 1.12.2. https://github.com/fluxcd/flux/pull/2009

[2019-11-12 17:38] squaremo commented on #2605
It doesn't. Possibly this is an error reported by the Kubernetes API client, either from something it is attempting, or something attempted by an intermediary, or the API server itself.

[2019-11-12 17:43] #2602 closed

[2019-11-12 17:52] stefanprodan commented on #2605
@squaremo it looks like our use of the discovery API triggers the metrics queries, this is indeed very troubling since a busy cluster with many metrics will add a huge delay to Flux sync.

[2019-11-12 17:53] squaremo commented on #2605
How .. even ... I don't ...

[2019-11-12 18:10] stefanprodan commented on #2605
I think we should be using `ServerGroups()` and call `ServerResourcesForGroupVersion` for each group excluding the metrics one to avoid querying the metrics providers.

[2019-11-12 20:01] stefanprodan commented on #2605
@texasbobs can you please test `stefanprodan/flux:fix-discovery.1` in your cluster and let me know if the sync works? Thanks

[2019-11-12 20:17] texasbobs commented on #2605
What version is that based on, @stefanprodan ?  We have not tested beyond 1.13.2 and this cluster is in a prod environment.

[2019-11-12 20:20] stefanprodan commented on #2605
It's based on master. If you have a dev cluster, can you please scale prometheus to zero and test it out?

[2019-11-12 21:23] texasbobs commented on #2605
I confirmed that it fails in my test cluster on 1.13.2 and 1.15.0.  The above image was able to function correctly.

[2019-11-12 21:35] stefanprodan commented on #2605
@texasbobs thanks a lot for testing it, I'm also running my own tests with prometheus-adapter and metrics-server.

[2019-11-13 13:33] evgenii-petrov-arrival opened #2608 "Add a resource sync error counter"
**Describe the feature**
I want to have a way to generate prometheus alerts on failure to sync resources.

Currently flux daemon logs such failures, for example:

[code]

Adding a new prometheus metric would make it easy to alert on failure to sync resources.

Alternatively Daemon.Sync should return an error if resourceErrors slice is not empty, so that `flux_daemon_sync_duration_seconds_count{suc

[2019-11-13 13:37] stefanprodan commented on #2608
Fixed by https://github.com/fluxcd/flux/pull/2535 and it will be included in the next Flux release.

[2019-11-13 13:52] evgenii-petrov-arrival commented on #2608
Thanks @stefanprodan !

My initial search failed to turn up https://github.com/fluxcd/flux/issues/2199 and I didn't keep my local branch up to date with master, so didn't observe https://github.com/fluxcd/flux/commit/5c026fab03165f5b336944dedee5a520acc5c93d , will try to do better next time!

[2019-11-13 13:52] #2608 closed

[2019-11-13 14:36] #2120 closed

[2019-11-13 14:36] #2605 closed

[2019-11-13 14:36] #2192 closed

[2019-11-14 02:14] rdubya16 opened #2610 "Flux not removing deployment field done through manual edits"
**Describe the bug**
I was doing some local testing and disabling flux and editing some deployments manually. I added a **name: web** to my deployment's port where there was none in the repo deployment spec. I expected these changes to be wiped out once I re-enabled flux but that didnt occur and after flux successfully ran I still saw the name field in my deployments yaml.

[code]

Wondering if th

[2019-11-14 02:38] donifer opened #2611 "Support Helm v3"
**Describe the feature**
Helm v3 got released but can't find in the docs if it's compatible or not. I was not really expecting to find anything since it just got released a few hours ago. But wanted to open an issue to at least keep track of it.

**Expected behavior**
Works with helm v3.

[2019-11-14 03:41] derrickburns opened #2612 "Co-existence with mutating admissions controllers"
@stefanprodan
I read the [notes on Helm 3](https://helm.sh/docs/faq/#improved-upgrade-strategy-3-way-strategic-merge-patches) today.  They explained to me why, with Helm 2, I was seeing my pods *not* injected with my `linkerd` sidecars in certain situations.  My understanding is that helm *patches* resources  . This means that resources that were modified with a mutating admissions controller do *

[2019-11-14 08:25] marcus-sa commented on #2547
Any updates on this?
Really want to use FluxCD, but this is quite blocking me (and probably several other future users from Azure)

[2019-11-14 08:36] stefanprodan commented on #2612
Flux uses `kubectl apply` so all admission controllers will be triggered.

Flux will never undo something that's not present in git. I've been using Flux with Linkerd, Istio and App Mesh and that's never the case.

[2019-11-14 08:44] stefanprodan commented on #2610
Flux does a `kubectl apply`, if kubectl 3-way merge doesn't remove then it's nothing Flux can do.

[2019-11-14 09:01] stefanprodan commented on #2611
Duplicate of https://github.com/fluxcd/helm-operator/issues/8

[2019-11-14 09:01] #2611 closed

[2019-11-14 11:05] cbenjemaa opened #2613 "Why HelmOperator installed with flux chart uses flux.weave.works instead of fluxcd.io"
**Describe the bug**
The flux helm chart uses  [flux.wave.works](https://github.com/fluxcd/flux/blob/release/1.15.x/chart/flux/templates/helm-operator-crd.yaml) CRDs.

Why not using [fluxcd.io](https://github.com/fluxcd/helm-operator/blob/master/chart/helm-operator/templates/crd.yaml) since the v1 release

This is very confusing because of the documentations. Most of guides and tutorials uses `flu

[2019-11-14 11:11] stefanprodan commented on #2613
The Helm Operator will be removed from the Flux chart once we release helm-op 1.0.0, right now it's in RC. Please check the chart change log https://github.com/fluxcd/flux/blob/master/chart/flux/CHANGELOG.md#0150-2019-10-07

We want to give people enough time to migrate to the new chart before removing it.

[2019-11-14 12:28] kozejonaz commented on #2379
Thanks @marratj ! We were just hit with this after activating workload identity for our clusters and this worked nicely.

[2019-11-14 15:50] 2opremio opened #2614 "Gitops-engine branch doesn't set default namespaces properly"
While fixing the unit tests of https://github.com/fluxcd/flux/tree/gitops-engine-poc , I found that manifest parsing fails to properly set the default scope and namespace of resources. All resources missing a namespace are identified as cluster-scoped.

This breaks releases and automatic upgrades for workload manifests not explicitly specifying a namespace.

The problem is that the `Namespacer` ab

[2019-11-14 16:21] 2opremio opened #2615 "Fix unit tests on gitops-engine branch"
The unit tests on https://github.com/fluxcd/flux/tree/gitops-engine-poc are failing, we need to fix them.

[2019-11-14 17:27] alexmt commented on #2614
Hello @2opremio . The namespacer we removed because engine code has exact same logic: https://github.com/argoproj/argo-cd/blob/gitops-engine-poc/engine/controller/state.go#L355.

Have you seen that issue in unit test only or in e2e as well?

[2019-11-14 18:11] 2opremio commented on #2614
The e2e tests work because they don't include manifests omitting the namespace. The unit tests are identifying a real issue.

The engine is not involved in editing manifests (e.g. adding an annotation or updating the image of a container) for which is crucial to identify the right namespace. Flux needs to know the actual namespace of a manifest so that it can find the manifest of a workload when a

[2019-11-14 18:45] 2opremio commented on #2614
I need to think about it further, but we may be able to get away with only identifying omitted namespaces for workloads which support manifest updates (which are pre-established and well known). If that's the case, we won't need to use the discovery API and it will be enough to use the `default` namespace (or the default namespace from `.kube/config`, if one is supplied). This would mean that the

[2019-11-14 18:46] 2opremio commented on #2614
@squaremo would you mind going through my comment above and see whether my reasoning is flawed?

[2019-11-15 04:26] jmymy commented on #1071
This is what I'm looking at now but would be great if there was an option for automation that creates a PR instead of just pushing to the "master" branch so that ops could approve the PR for deployment to production

[2019-11-15 12:11] adam-carbone commented on #2170
Ya this is a little wierd because spinnaker allows you to order your pipelines

[2019-11-15 15:37] AntoineGodeau commented on #1396
@kwontae Have you resolve this issue ? I have the same one

[2019-11-15 15:48] ntx-ben commented on #2508
I'm in the same boat as @pierretasci.

Using manifests factorization with kustomize. I have a single repository containing all my workloads for different overlays. Flux is instructed to read from a specific overlay using `--git-path=overlays/staging`. I would assume Flux would be able to recognize that there are multiple workloads to manage under the following setup:

[code]
The contents of each `

[2019-11-15 21:14] kwontae commented on #1396
Hey @AntoineGodeau https://github.com/fluxcd/flux/issues/2589#issuecomment-552089581 this has helped me resolve my issue!

[2019-11-16 09:46] runningman84 opened #2616 "Lower resource usage"
**Describe the feature**
I found out that in an edge computing use case with low powered devices flux and helm operator easily usu more power than the main running applications in a cluster.

**What would the new user story look like?**
Flux and helm operator should only run if a new git commit appears or some schedule is met like run at least once an hour or day.

**Expected behavior**
Using flux

[2019-11-18 11:19] HaveFun83 opened #2618 "fluxcd failed to automate helmrelease chart-image"
**Describe the bug**
A clear and concise description of what the bug is.

fluxcd is unable to automate a helmrelease structure / chart-image with more than two path values within the repository statement.

Example image path:
`private-docker-registry.net/public/bitnami/redis:5.0.6`
` <registry> <repository (with more than two values)>:<imagetag>`

The following helmrelease structure failed to auto

[2019-11-18 12:40] HaveFun83 opened #2619 "Allow automated image updates to partly fail"
**Describe the bug**
A clear and concise description of what the bug is.
If one automated workload failed due to an error like #2618 all automated workloads will be skipped

**To Reproduce**
Steps to reproduce the behaviour:

fluxcd - helmoperator

1. check-in and automated two independent helmrelease workloads
1.1 one should have an error like #2618
2. update the image within the docker-registry

[2019-11-18 12:46] hiddeco commented on #2619
I think it would be better to make this behaviour possible by adding an additional flag to the `fluxctl release` command, e.g. `--allow-failures` (or the opposite, but this proposal would be backwards compatible).

This would make the behaviour and exit status code predictable based on the configured flags.

[2019-11-18 12:51] HaveFun83 commented on #2619
Cool thanks for your quick response.
But we don't use fluxctl in this case. Only the normal poll interval for new images and changes within the git repo

[2019-11-18 13:25] hiddeco commented on #2619
@squaremo given the above, is there a reason we currently have a 'succeed all or fail' policy for automated image updates?

[2019-11-18 13:59] squaremo commented on #2614
"pre-established and well-known" is accurate now, but the ambition is to support updating arbitrary resources, given a scheme similar to that now used by the Helm operator. On the other hand it's also an ambition to separate the updates into another component.

Automated updates is not the only code path that gets a view of the manifests in git; the API needs that too.

That is how it worked, but

[2019-11-18 14:23] squaremo commented on #2619
I would grant that it's not always -- or even usually -- necessary to make updates atomic (all-or-nothing).

Given the nature of Kubernetes, no-one should be _relying_ on atomic changes. Even if committed to git, and applied to the API at the same time, they won't take effect at the same time. But inconsistencies due to partial updates would persist indefinitely, and probably need human interventi

[2019-11-18 14:30] hiddeco commented on #2619
We could technically just add them to the commit note as 'attempted but failed', to make it observable outside the `fluxd` logs (and maybe even push them as a notification towards the upstream).

[2019-11-18 14:38] squaremo commented on #2619
Yes, and yes. And perhaps introduce (adapt?) a metric for the number of automated updates succeeding/failing.

[2019-11-18 16:13] 2opremio commented on #2614
How would we do that automatically? (i.e. without explicitly adding those resources)

Can you be more specific?

After looking at the code from the `gitops-engine-poc` branch there are many places in which still use an explicit kubernetes client (as opposed to going through the engine), so, I think I will just restore the `Namespacer` for now. Regardless, @squaremo , I am still interested to know

[2019-11-18 16:24] squaremo commented on #2614
The problem described above is "manifest parsing fails to properly set the default scope and namespace of resources". The API methods (ListServiceWithOptions and so on) use manifest parsing, and do things like match resources using their IDs, so would presumably suffer from the problem.

I may have misunderstood what the problem is; I'm just going on the statement above, I've not looked in the cod

[2019-11-18 16:43] 2opremio commented on #2614
Ah, now I get what you mean. I think that, currently (i.e. supporting a predefined set of workloads),  all those cases would also be covered by only correctly identifying the default namespace of the predefined set of resources we consider workloads.

[2019-11-18 16:51] squaremo commented on #2614
Looking at pkg/daemon/daemon.go, it certainly seems that way -- the things that report on resources coming from git, ListServices(...) and ListImages(...), care only about workloads.

[2019-11-18 21:19] ambis commented on #2554
Same problem here. Started out of the blue as per the logs (2019-11-15 midnight). No changes in flux source repo, none of the cluster components other than my app itself is automated for updates.

Running k3s v0.10.2, cert manager 0.11.0 and flux 1.15.0.

I deleted cert-manager completely with delete -f and flux reapplied it (now that it started working), and boom, here comes the error again.

[2019-11-19 09:19] hiddeco commented on #2618
The structure you are linking to works fine, and is actually covered by tests, [as can be seen here](https://github.com/fluxcd/flux/blob/07b3d3d608dc53738d9778d6dd23355e8f50e550/pkg/image/image_test.go#L54).

Does this problem only occur for the automation of `HelmRelease` resources, or for all resources Flux handles? The answer to this could possibly reduce the size of the haystack, before I go l

[2019-11-19 10:25] HaveFun83 commented on #2618
Thanks for looking into this issue.
The error only occurs on helmReleases with the following structure:
[code]

[2019-11-19 10:57] hiddeco commented on #2618
I managed to find the issue, the problem lies with the assumption we make when we try to construct a valid `image.Ref` from the values we detect in the `HelmRelease` resource, in combination with assumptions made during the parsing of the value we pass in.

[`helmrelease.go:303`](https://github.com/fluxcd/flux/blob/6a0e353061f68ba902161af3b39b4e6557c23646/pkg/cluster/kubernetes/resource/helmreleas

[2019-11-19 13:21] #2613 closed

[2019-11-19 14:12] #2595 closed

[2019-11-19 16:30] #2618 closed

[2019-11-19 17:03] HaveFun83 commented on #2618
Thanks a lot  @hiddeco :tada: :beers:

[2019-11-20 07:29] fquinner commented on #1857
I have hit this issue too unfortunately when building out a new ~40 deployment environment. A `fluxd` job timeout is something that feels like it should be configurable anyway if that's possible (sticky plaster or expected behaviour), but yes ideally it would be faster where it wouldn't hit this timeout.

My workaround was to release workloads individually until they one by one populated the patch

[2019-11-20 14:49] hiddeco commented on #2362
RTD has fixed the issue and deployed it recently.

I have just wiped all builds for the published documentation versions, and triggered a rebuild, this has resolved the issue.

[2019-11-20 14:49] #2362 closed

[2019-11-20 14:52] acarsercan opened #2623 "Unable to deploy promethues-operator helm chart"
Hi,
I'm unable to deploy helm chart promethues-operator using fluxcd.
[code]
I can deploy the same chart successfully using `helm install`

**To Reproduce**
Deploy helm chart promethues-operator using flux

**Expected behavior**
Successful deployment of all objects

**Logs**
[code]

**Additional context**
Add any other context about the problem here, e.g
- Flux version: flux-0.15.0
- Helm Operator

[2019-11-20 14:56] hiddeco commented on #2623
1. the name of your `HelmRelease` probably contains a typo, `promethues-operator` -> `prometheus-operator`
2. the problem seems to be that the (by Helm) generated manifest refers to a non-existing secret (maybe because of the typo), I expect everything to work once this secret exists

[2019-11-20 16:33] acarsercan commented on #2623
Hi,

Thanks for the reply. Apologies for the typoe, which I've corrected but didn't fix the issue. `tls-proxy-secret` is part of a Job to be created when the helm chart is installed, however it is failing

[2019-11-20 16:44] squaremo commented on #1128
Please have a look at https://github.com/fluxcd/flux-recv and see if it will serve your purpose. That is built specifically to receive webhooks and pass them on to fluxd. Currently it understands GitHub, GItLab and Docker; it is a fairly simple matter to add support for another webhook source.

[2019-11-21 08:49] to266 opened #2624 "Not able to pull tags for some of the images"
**Describe the bug**
Flux is not able to pull image tags from a private GCR, but only for some of the images:
[code]
Strangely enough, flux is able to pull many other image tags from the same repo (`us.gcr.io/luminovo-default/training-operator` and similar) that are created with the same CI steps. I have also verified that the tags are present (and they're successfully used by the operator, for ex

[2019-11-21 15:02] squaremo commented on #1260
After #1442, fluxd calculates the namespace that each resource will have when applied and will report it correctly; so mounting ~/.kube/config works fine. But there is still room for convenience, since mounting another file is a pain.

[2019-11-21 15:02] #1260 closed

[2019-11-21 15:12] acarsercan commented on #2623
false positive

[code]

[2019-11-21 15:12] #2623 closed

[2019-11-22 16:25] rparsonsbb commented on #1467
Has there been any kind of movement on this?  Is it planned for Argo Flux?

[2019-11-22 17:51] JVMartin commented on #2052
I can confirm, this is an issue not just for Helm releases, but for *any* Kubernetes resources.

Say that you have a secret managed with Flux.

You can do this:
[code]

It can take hours or days for the resource to re-appear.

What's going on here?

[2019-11-22 18:33] 2opremio commented on #2052
@JVMartin can you create a separate issue and share extra information (environment, Flux version, flux logs etc ...)? I doubt that what you are experiencing is related to the current issue.

Also, without further context it's hard to conclude whether a secret is expected to appear in the cluster through flux.

[2019-11-22 19:26] JVMartin commented on #2052
@2opremio Exactly like @jan-schumacher said, after a few minutes / hours, Flux *finally* notices the secret is missing, re-creates it, and all is well. With 0 intervention. It just takes a long time. This is true of ALL resources, not just HelmReleases, not just Secrets. Deplyoments, services, you name it. It seems like Flux should immediately notice when something has been deleted and re-create i

[2019-11-22 19:27] JVMartin commented on #2052
You don't have to take my word for it. Just delete any resource from your cluster, call `flux sync`, and you'll see that it doesn't come back.

[2019-11-22 19:40] hiddeco commented on #2052
`fluxctl sync` only syncs a revision if it has not applied that revision yet.

Are you saying that the reconciliation loop that happens every `--sync-interval` does not put the resource back? Or is the `--sync-interval` in your case set to a very high value? As that would explain why it would take 'hours'.

[2019-11-24 22:12] alexandrsemak opened #2631 "Exec RAW command"
One of helm chart requiring secret from another namespaces.
is it possible to exec raw kubectl command with flux?
I know that is odd but i am trying automate as much as possible.
Thank you for advance.

[2019-11-24 23:57] alexandrsemak opened #2632 "Git commit triggered all resources from scratch"
I have created production and development folder and use overlay for determinate common resources but when i added new config flux trigger all HelmRelease from scratch.
I have base/releases with many HelmRelease and development with common `kustomization.yaml`:
[code]
Looks like i did smt wrong can you explain?

[2019-11-25 11:06] squaremo commented on #2550
OK, so to summarise, I'm going to pick out some snippets.

I think the interaction of `.flux.yaml` and `--git-path` values  can be elaborated in the documentation. It is a coherent model, but has some subtleties to it that should be made explicit:

 - if a `.flux.yaml` is found for a `--git-path`, it takes over the processing
 - searching in parent directories for `.flux.yaml` means that supplying

[2019-11-25 11:34] squaremo commented on #2550
Nope, I've triple-bluffed myself. It _would_ work as described: you could have a top-level `.flux.yaml` providing the default behaviour, then supply a `.flux.yaml` for a path under that, with an "act normal" directive.

Would it solve the rough transition problem? It would still be possible to put a `.flux.yaml` at the top, and forget that it'll take over all processing of subdirectories -- or may

[2019-11-26 13:04] hiddeco opened #2633 "Why does Flux consume so much memory? answer: > 200k resources in the cluster"
**Describe the bug**
The Flux daemon uses an increasing amount of RAM (up to 2.5GB before getting OOM killed for Flux `1.16`) with `--sync-garbage-collection=true` and `--manifest-generation=true` set, and just `1.9M` resource files on disk.

**To Reproduce**
Steps to reproduce the behaviour:
1. Spin up a Flux daemon with `--sync-garbage-collection=true` and `--manifest-generation=true` set. The `

[2019-11-26 13:17] hiddeco commented on #2633
#### heap and goroutine dumps
User was requested to provide a heap and goroutines dumps, the easiest way for to do this is by making two `curl` calls:

[code]

No spurious amount of goroutines can be observed, and the reported `inuse_space` only totals for about `7-9MB`.

#### `/tmp`

Garbage collection of temporary resources seems to be okay:

[code]

#### `top`

`top` shows a total mem usage of

[2019-11-26 15:26] squaremo commented on #2632
It is difficult to tell what's wrong from this description. When you say "added new config" do you mean you added a new HelmRelease YAML file, or something else? What did you see that you did not expect? What _did_ you expect?

[2019-11-26 15:29] squaremo commented on #2631
It is possible to execute `kubectl` as a command in a `.flux.yaml` file. But to do so, you have to be using a `.flux.yaml` file, which you might not want to do. It's probably better to use a kustomization, or just copy a YAML file over into the namespace where you need it -- re-encrypting it if necessary.

[2019-11-26 15:30] squaremo commented on #2631
(I'm closing this as answered, so it doesn't show up as new, but you can still comment here if you have further questions)

[2019-11-26 15:30] #2631 closed

[2019-11-26 15:31] 2opremio commented on #2633
It seems like the memory consumption peaks up almost immediately (after Flux 1.16 starts up) and then Flux gets killed.

Also, it seems like Flux is not killed anymore when setting `GOGC=25`, with a stable memory consumption (no build up in memory usage, indicating no leaks are happening).

This points to the garbage collector not running often enough to satisfy both:
* The memory limit of the pod

[2019-11-26 16:14] squaremo commented on #2624
The `auth={map[]}` bit of the log message indicates that it didn't find credentials (in an imagePullSecret attached to the workload in question, or its service account). If you're running on GCP it will attempt to get a token from the metadata service, and I don't think those get reported in the log message.

I would check that the GCP service account that's running the workload _also_ has permiss

[2019-11-26 16:46] nabadger commented on #2633
Hi, I work with Francesco who reported this issue via slack.

We've been running `v1.16.0` with `GOGC=25` for about an hour, with only 1 OOMKilled event which is not bad.

![2019-11-26_16-30](https://user-images.githubusercontent.com/28828562/69653181-b35cc280-106a-11ea-9217-43c73d453182.png)

The Git repo which Flux references is `77M` - this is a monorepo, so contains kustomize and rendered mani

[2019-11-26 17:25] 2opremio commented on #2633
Thanks for all the info @nabadger !!

Thanks for being positive :) , but we are not happy about Flux getting killed without a clear explanation. Let's see if we can pinpoint the cause!

Thanks. While you are at it, can you also get us:
* Some [Go memory graphs](https://povilasv.me/prometheus-go-metrics/):
  1. The size of the reachable objects: `go_memstats_heap_alloc_bytes`
  2. The size of the r

[2019-11-26 19:23] nabadger commented on #2633
![grafana](https://user-images.githubusercontent.com/28828562/69665370-202f8700-1082-11ea-81d3-03e91c8790d6.png)

[2019-11-26 19:36] nabadger commented on #2633
![go_memstats_heap_alloc_bytes](https://user-images.githubusercontent.com/28828562/69666370-0db64d00-1084-11ea-9fe5-5f703c57f7ba.png)

[2019-11-26 19:39] nabadger commented on #2633
![go_memstats_alloc_bytes](https://user-images.githubusercontent.com/28828562/69666624-76052e80-1084-11ea-9796-075c26f8c22e.png)

[2019-11-26 19:50] nabadger commented on #2633
Also confirming that there is no `ResourceQuota` affecting cpu/ram in the `flux-apps` namespace where this pod runs. There are also no `LimitRange` setting in this namespace.

[2019-11-26 19:53] nabadger commented on #2633
Bit more info (its a GKE cluster)

[code]

[2019-11-26 20:55] nabadger commented on #2633
Some more info
[code]

[code]

[2019-11-26 21:01] nabadger commented on #2633
https://github.com/golang/go/issues/16843 might be of interest.

[2019-11-27 02:17] anwarchk opened #2635 "Unable to get started with Flux tutorial"
**Describe the bug**
I am using the getting started example from : https://docs.fluxcd.io/en/stable/tutorials/get-started.html. After following the instructions to deploy flux deployment, my deployment of flux agent never completes successfully with the pod events shown as below:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
0. What's your setup? K8 version 1.16.2 , fluxctl 1.16.0
1.

[2019-11-27 05:26] #2635 closed

[2019-11-27 05:26] anwarchk commented on #2635
Tried an older version and it works. For my demo, this will do. I will get back with more details for 1.16 version

[2019-11-27 10:43] to266 commented on #2624
This is super surprising, since it's essentially able to fetch many other images. The `HelmRelease` in question (with some trimming) looks line this:
[code]
Also I just confirmed that the `flux` serviceaccount indeed has an identical `imagePullSecret` (can't be literally the same, since it's in a different namespace) attached to it. Any ideas?

[2019-11-27 10:52] squaremo commented on #2624
The service account that runs the deployment (or daemonset or whatever) using the image in question is the one that counts. Usually, if Kubernetes can run the workload, Flux can fetch its metadata, since fluxd will look for the same secrets Kubernetes uses. But there are some cases where this doesn't carry:

 - if you've put docker credentials on the host, Kubernetes will have access to them, but

[2019-11-27 13:33] to266 commented on #2624
Hmm, so I guess it has to do with the way the above `training` is deployed:
 - at some point `orchestrator` creates a custom resource, where the `training` image details are stored
 - `operator` uses the resource to create a `job`. The job itself (since `imagePullSecrets` above are forwared via the CR) is created fine, but maybe flux has problems figuring out where to look for the workload? Especi

[2019-11-27 14:31] squaremo commented on #2624
Any workload that uses that image and has valid credentials will do. So, off the top of my head, you could have a deployment definition that mentions the image and uses an appropriate serviceAccount holding credentials, but has replicas `0` so it doesn't actually run anything. That would be a workaround I think.

[2019-11-27 15:15] to266 commented on #2624
Thanks, will try that and let you know. Still, a more straightforward way to do this would be nice

[2019-11-27 15:44] squaremo commented on #2624
Yes, the "correct" way to do it is another question. I struggle to think what it would be -- but not because your use case is mistaken.

fluxd doesn't look at jobs, since it doesn't make sense to automate upgrades for those. But I suppose it could, since that way it would pick up image refs that get used indirectly. Otherwise, we'd have to come up with a scheme whereby appropriate credentials coul

[2019-11-27 16:21] manicole commented on #385
[This dashboard](https://grafana.com/grafana/dashboards/10475) is a good start, and adding [these](https://github.com/fluxcd/flux/blob/master/docs/references/monitoring.md) makes it even better !

[2019-11-28 01:17] EricHorst commented on #2550
The improved docs in #2634 go a long way in helping to clarify manifest generation and this issue.

To restate and focus this issue, I agree with your assessment, it would be nice to have a top-level .flux.yaml with patch-updated behaviour and a lower level .flux.yaml which provides default recursive yaml file reads.

--manifest-generation --git-path=production/,production/raw/
[code]

[2019-11-28 11:19] 2opremio commented on #2633
@nabadger Thanks a lot for all the information!

After looking at the graphs, now I am pretty sure that the problem doesn't come from a memory leak, but from the fact that Flux has huge peaks of memory allocations. Without setting `GOGC`, it gets an implicit value of `100`, meaning that the garbage collector waits for the same amount (100%) of unreferenced garbage as it deallocated last time befor

[2019-11-28 11:27] primeroz commented on #2633
a little update on the situation, with a bit of context

* we run 2 flux instances on each cluster, one called bootstrap and one called apps.
* both instances are clusterwide in terms of namespaces on kubernetes
* the bootstrap one is much smaller than the apps one since it just create namespaces, psps and few other things

After raising the memory limit to 2 GB and setting GOGC=25 ( on both insta

[2019-11-28 12:01] primeroz commented on #2633
I think we found our issue , we have way too many Transient resources because of DEX and [this](
https://github.com/dexidp/dex/issues/1292) issue which is still open

we can't even "kubectl get authrequests.dex.coreos.com" because it times out due to the massive amount of them

without counting those we still have plenty of resources though :
[code]

I wonder if something like https://github.com/f

[2019-11-28 12:25] 2opremio commented on #2633
[flux-debug-log.gz](https://github.com/fluxcd/flux/files/3901338/flux-debug-log.gz)

After taking a look at the debug logs above (using `GODEBUG=gctrace=1`) I am pretty sure that the peaks come from syncing (I still don't understand why they happen every 6 minutes and not 5, but I can live with that).

Also, the logs seem to explain why the resident memory usage of the process stays up (instead of

[2019-11-28 12:56] 2opremio commented on #2633
Wow. Yes, that would explain it.

For the record, I was just looking at the `alloc_space` heap profile (the memory sum allocated by the program call graph) ...

![profile001](https://user-images.githubusercontent.com/2362916/69806384-035e9500-11e3-11ea-9628-c1312592dad5.png)

... and I was going to remind you to give me the resource-count in the cluster (the accumulated memory allocated by the clu

[2019-11-28 13:09] primeroz commented on #2633
it is a bug indeed see https://github.com/dexidp/dex/issues/1292  .
I am not sure anyone posted any good solution yet so we will prbably just not use kubernetes as storage backend for dex and maybe use a dedicated ETCD that way we will be able to control the situation better and also not affect kubernetes with this issue

those would both be great for us.
The filter would be useful anyway when you

[2019-11-28 14:36] spolspol opened #2640 "Helm chart not updated for 0.16.0 release"
As per title, helm chart has not been updated for 0.16.0 release

[2019-11-28 15:02] 2opremio commented on #2640
It will soon #2639

[2019-11-28 15:02] #2640 closed

[2019-11-29 09:44] denysvitali commented on #2057
Can confirm what @johncf said: the error is due to an user error:
[code]

In my case I was having a failure caused by a wrongly typed value. IMHO flux should show a more user-friendly error than `rpc error: code = Unknown desc = release: "RELEASE_NAME" not found`.
I sugges something along the lines of `Deploy failed - Check Tiller logs`

[2019-11-29 10:42] primeroz commented on #2633
@2opremio @hiddeco This is now solved.
Since deleting the 260K objects from kubernetes and fixing the cause of them flux is back at normal memory usage pattern.

**160MB** for our big one and **40MB** for the small one.

Feel free to close this case, i will keep an eye out for the proposed changes of adding a filter argument

thanks again for staying with us on this!

[2019-11-29 11:15] 2opremio opened #2642 "Make cluster resource exclusion configurable"
**Describe the feature**

We already exclude metrics resources (see https://github.com/fluxcd/flux/pull/2606 , however, that is hardcoded, and (as seen in #2633 ) it may be useful to exclude additional resources.

**What would the new user story look like?**

Users are provided with a new `fluxd` flag, say `--k8s-exclude-resource=apigroup/version/kind`.

Users can supply:
* Fixed values like `--k8

[2019-11-29 11:16] 2opremio commented on #2642
I am now thinking that this could probably achieved thorough simple RBAC rules.

[2019-11-29 11:21] 2opremio opened #2643 "Log cluster resource stats to debug performance problems"
In #2633  it took a while to figure out why Flux was consuming so much memory (due to the Go garbage collector's behavior we initially suspected a memory leak).

It would be useful to log a summary with the amount of resources found during after every sync. It could be a normal log or debug one.

[2019-11-29 12:13] 2opremio opened #2645 "Avoid reading all the resources from the cluster"
During syncing we read all the resources from the cluster. This causes a spike in memory consumption for clusters with a lot of resources (see #2633 ).

We read all the resources at once to check for `ignore` annotations:

https://github.com/fluxcd/flux/blob/dc8c1b9f9d5b9cd19850f3b4e2651a0f1af42177/pkg/cluster/kubernetes/sync.go#L55-L57

The ideal solution would be to query resources by annotation

[2019-11-29 12:18] 2opremio commented on #2633
@primeroz Great!

I have created #2642 ,  #2643 and #2645 as follow-ups.

Now I am thinking that we could do that without extra flags, using RBAC (i.e. forbidding Flux from listing or getting that resource), see https://github.com/fluxcd/flux/issues/2642#issuecomment-559757184

Let's continue the conversation there.

[2019-11-29 12:18] #2633 closed

[2019-11-29 12:36] 2opremio opened #2646 "Reduce execution time of end-to-end tests"
They currently take ~ 20 mins , which is a long time.

We could parallelize them by:
* Running multiple tests in parallel in the same cluster. This causes conflicts between the tests. For instance it would require ensure that the resources created in each test are unique, to avoid clashes.
* Using multiple kubernetes clusters and distributing tests across the clusters, to be run sequentially in ea

[2019-11-30 23:13] tl-alexandre-kaskasoli opened #2648 "Why doesn't garbage collection work when restricting Flux's RBAC permissions?"
**Describe the bug**
fluxd doesn't delete resources managed by flux when they are removed from the git repository, _when fluxd is running with a role with limited privileges_ and garbage collection enabled.

we want to restrict the resources that developers can create/alter in a given namespace, so we're limiting fluxd's privileges using RBAC.

when we don't limit privileges (ie: when flux is runn

[2019-12-01 01:20] tl-alexandre-kaskasoli commented on #2648
I noticed that adding the following ClusterRole is sufficient to make garbage collection work.

[code]

It would be useful to document the minimum permissions needed for garbage collection, so users can apply the principle of least privileges.

[2019-12-02 05:39] alyonatischenko opened #2649 "222"
**Describe the feature**
A clear and concise description of the feature.

**What would the new user story look like?**
How would the new interaction with Flux look like? E.g.
0. What are the prerequisites for this?
1. User starts up Flux using the --add-frobnication flag
2. New commits in git branch happen
3. Deployments happen, which include frobnication

Feel free to add a diagram if that helps

[2019-12-02 07:13] 2opremio commented on #2649
Please fill in the template. Closing the issue for now. Feel free to create a new one.

[2019-12-02 07:13] #2649 closed

[2019-12-02 09:21] primeroz commented on #2642
The RBAC way make sense, I will give it a try as soon as i can but as long as it does not error out in the logs that is as good as a filter in the args to me.

Might be a bit harder to handle in terms of new users and documentation though ?

It would be easier to document something
* `RBAC allows pulling everything, filter args obviously remove stuff from flux downloading ( and applying ? ) resour

[2019-12-02 09:24] 2opremio commented on #2648
In order to garbage-collect resources of certain `apiVersion` and `Kind` (e.g. `v1` `ConfigMap`), Flux needs to be able to:

1. Discover that `apiVersion/Kind` through the discovery API, which is [allowed by default](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#discovery-roles) for every user. I doubt your configuration needs changing anything in this regard, since everything work

[2019-12-02 13:59] tl-alexandre-kaskasoli commented on #2648
I tried

[code]

That wasn't sufficient. Currently using:

[code]

Which gets the job done.

The logs don't show any output related to a lack of permissions on the resources that need to be garbage-collected.

[2019-12-02 14:36] richardcase opened #2651 "Make `fluxctl install` work with Open Shift"
**Describe the bug**
When i run the following against open shift:

[code]
(same issue if you use `kubectl` instead of `oc`)

The flux pod starts ok but the memcache pod fails to start. Looking at why i see the following:

[code]

**To Reproduce**
Run the command above against an OpenShift cluster.

**Expected behavior**
I would expect flux and memcached to start and deploy podinfo (from the sample

[2019-12-02 14:36] richardcase commented on #2651
As i have this working i am happy to make the fix

[2019-12-02 14:47] richardcase commented on #1125
I have this working with minimal changes.

@dholbach - would you like me to document the instructions to get this working? I can then update the instructions after i have made the fix for #2651

[2019-12-02 15:03] dholbach commented on #1125
@richardcase That would be fantastic.

I wonder where the best place for this is. The FAQ works of course, but it's getting a bit crowded there and it might not be "front and center" enough for OpenShift users.

[2019-12-02 15:37] 2opremio commented on #2648
I meant adding that on top of what you already have. Is that what you did?

[2019-12-02 15:42] 2opremio commented on #2651
That would be fantastic!

The problem is that `fluxctl install` doesn't know what you are using the yamls for

[2019-12-02 15:44] tl-alexandre-kaskasoli commented on #2648
Apologies for not being clear. Yes that was added on top of what I outlined in the first post.

[2019-12-02 15:59] richardcase commented on #2651
I've added a `--oc` flag in my changes so that we can:
[code]

Or do you think something like `--target oc` would be better?

[2019-12-02 16:01] richardcase commented on #1125
@dholbach - perhaps a new tutorial...`Getting started with Flux on OpenShift`?

[2019-12-02 16:08] MansM commented on #1125
When I got some time I can make a crude start.

[2019-12-02 16:08] dholbach commented on #1125
Sounds great!

[2019-12-02 16:23] squaremo commented on #1125
Thank you @richardcase and @MansM!

A nudge: this makes more sense as "how-to" documentation (called Guides in our table of contents), where

 - tutorial = give people a script to work through so they learn some element of the software
 - how-to = give people a script to accomplish a specific task

(arguably, yes, the "Get started" docs already in place are how-to documentation -- well spotted)

T

[2019-12-02 23:31] dayglojesus opened #2655 "flux leaks https password in git error messages"
**Describe the bug**

When configured to use Git over HTTPs, Flux will log errors containing the PAT.

**To Reproduce**

1. setup Flux to use Git over HTTPS, rather than SSH
2. disrupt the network such that Flux cannot reach the Git server
3. observe logs

**Expected behavior**

Error logs containing URLS should be sanitized.

**Logs**

[code]

**Additional context**

- Flux version: 1.15.0
- Kube

[2019-12-03 00:01] 2opremio commented on #2655
There are some improvements for this in 1.16.0 (see https://github.com/fluxcd/flux/pull/2549 ), but I am afraid it doesn't cover this case.

I think we will need to go through all the potential error cases as well, which is going to be tough since, for instance the error above comes from an invocation of the git command whose format we don't fully control.

[2019-12-03 00:02] #2379 closed

[2019-12-03 05:41] pcfens opened #2656 "Replica counts changing based on time of day"
We have some workloads that we'd like to scale up and down based on time of day (e.g. anticipated loads, scaling non-production instances to 0 to save money after hours, etc). I don't think the fix outlined in #1686 will work because either `spec.replicas` (in a deployment) or `spec.minReplicas`/`spec.maxReplicas` (in an HPA) needs to change.

As I understand it, a user can adjust the number of re

[2019-12-03 14:24] 2opremio opened #2657 "Improve `fluxctl sync` error when Flux cannot clone the git repository"
From a user in Slack:

The user got that error because Flux couldn't clone the repository (the user later fixed the problem by mounting a `known_hosts` file which was missing).

That error is not very helpful because:
* It leaks internal information of how we manage repos (`new` doesn't mean anything to users)
* It's not actionable

A better error would be:

[code]

[2019-12-03 15:06] dayglojesus commented on #2655
Thanks @2opremio i missed that issues when searching. Glad a fix is on the books. Cheers.

[2019-12-03 16:57] texasbobs commented on #2584
We are experiencing this as well.  If the values.yaml file, we have set the memcache enabled to false
[code]
This correctly prevents the memcache files from being created. However, the output from helm has the parameter `--memcached-hostname=name-flux-memcached` listed for the flux deployment and Flux constantly produces the following message in the logs.

[code]

Even when removing the `--memcach

[2019-12-03 22:44] AustinSmart commented on #2568
@antonosmond This would be great to have. I have the same use case as you and I think your solution would solve things nicely.

[2019-12-04 09:41] MikaelElkiaer commented on #1353
Could this be related to why I am randomly seeing:
`Error: image "DOMAIN/REPO:TAG" does not exist: invalid image ID`

When doing:
`fluxctl release --k8s-fwd-ns flux --watch --timeout 2m --workload=NAMESPACE:deployment/DEPLOYMENTNAME--update-image=DOMAIN/REPO:TAG`

in my pipeline, where I in the previous step pushed the new image to my repository?

I have a GitLab pipeline where I in one job build

[2019-12-04 10:33] squaremo commented on #1353
@MikaelElkiaer Unless you have webhooks set up, the duration between pushing a new image, and it being known by scan, is likely to be O(minutes). The scanner has to get around to that image repo (it processes them one by one); then it has to fetch metadata for the new tag and possibly others.

You can reduce this lag by installing webhooks - Weave Cloud does it for you, or the (rather new, so _cav

[2019-12-04 17:18] rtluckie opened #2660 "Manifest comments are removed"
**Describe the bug**
Comments in yaml manifests are removed when images are updated via a automated release

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a manifest w/ automation enabled with a comment (see below)
2. Trigger a image update
3. Observe comment is removed

**Expected behavior**
Comments should persist

**Additional context**
Add any other context about the problem her

[2019-12-04 19:30] chancez commented on #1842
Unless you used the raw-files view, rather than the pretty HTML view, you can end up with extra unicode characters that github uses in the HTML to make things appear correctly.

[2019-12-05 08:37] alyonatischenko opened #2661 "Голосовой набор"
**Describe the feature**
A clear and concise description of the feature.

**What would the new user story look like?**
How would the new interaction with Flux look like? E.g.
0. What are the prerequisites for this?
1. User starts up Flux using the --add-frobnication flag
2. New commits in git branch happen
3. Deployments happen, which include frobnication

Feel free to add a diagram if that helps

[2019-12-05 10:25] #2661 closed

[2019-12-05 12:12] indrekh commented on #1639
In my case the problem was in unreachable registries.
Since I don't use "Automated deployment of new container images" I added "- --registry-exclude-image=*" option and the unclosed socket problem was solved.

[2019-12-05 15:59] #2646 closed

[2019-12-06 09:57] ssimk0 opened #2662 "Flux with HTTP proxy"
**Describe the bug**
Hi, we want use new feature from flux v1.15.0 to where we can use git repository with HTTP fluxcd/flux#2470, but also with HTTP proxy. All is setuped correctly becasue we can clone repo inside the flux container, but flux itself have issue there.

**To Reproduce**
Steps to reproduce the behaviour:
0. What's your setup?
start flux
with args:
[code]

and ENV
[code]
1. apply conf

[2019-12-06 10:54] alastairs opened #2663 "Invalid image ID on HelmRelease"
### Describe the bug
Flux incorrectly updates `HelmRelease`s when the tag is specified separately from the image, resulting in an invalid image ID error. I think also there's been a regression of the fix for #1290, or it wasn't fixed as I expected from reading that issue description.

### To Reproduce
1. Configure FluxCD and the Helm Operator.
2. Define a `HelmRelease` for a chart with an `imageTa

[2019-12-06 10:59] alastairs commented on #2663
I wondered if this might be because the traefik tags are `v<semver>`, rather than just `<semver>`. However, the following `HelmRelease` for filebeat displays the same behaviour

[code]

[2019-12-06 11:13] stefanprodan commented on #2663
You're missing the repository and filter annotations https://docs.fluxcd.io/en/stable/references/helm-operator-integration.html#annotations

[2019-12-06 11:16] stefanprodan commented on #2663
Try this:

[code]

[2019-12-06 12:24] alastairs commented on #2663
Thanks @stefanprodan, much appreciated. Good shout on the repository annotation; I'd missed tha tthis was required. I don't understand the relationship between the `filter.fluxcd.io/*` annotation and the `fluxcd.io/tag.chart-image` annotation, though, and the docs don't really make this clear AFAICT. Do I not need the `fluxcd.io/automated` annotation either?

[2019-12-06 12:37] tomjohnburton commented on #2508
Exactly the same problem as @ntx-ben and @pierretasci
+1

[2019-12-06 12:52] 2opremio commented on #2508
@ntx-ben I don't think you are running with `--manifest-generation=true`, otherwise Flux wouldn't attempt to read `overlays/staging/app1/kustomization.yaml` nor `overlays/staging/app2/kustomization.yaml`

[2019-12-06 13:03] 2opremio commented on #2508
@tomjohnburton what problem are you getting exactly?

BTW, this is derailing from the original proposal from the OP.

1. The OP was indicating the desire for Flux to tolerate to duplicate kubernetes resources. I don't think we can do this. Flux simply can't know which of the two duplicates to apply. Only if they are completely identical (all keys and values are exactly the same) Flux could discard

[2019-12-06 13:07] alastairs commented on #2663
The changes @stefanprodan proposed have resolved the immediate issues, so many thanks for that. I still don't understand why this set worked and the previous one didn't, given the documentation [here](https://docs.fluxcd.io/en/stable/references/helm-operator-integration.html#filter).

[2019-12-06 13:08] tomjohnburton commented on #2508
@2opremio please see above for updated comment.

The error I am getting is the same as @ntx-ben. I can confirm `--manifest-generation ` is on.
The way to fix it was to set my `--gitpath` to `/frontends/app1/overlays/staging`. But then obviously it just looks in that one directory.

Maybe there is a recommended way of structuring the repo?

[2019-12-06 13:11] 2opremio commented on #2508
Yes, the `--git-path` argument passed to Flux. See https://docs.fluxcd.io/en/latest/references/fluxyaml-config-files.html

[2019-12-06 13:22] tomjohnburton commented on #2508
so with my git path like this:
`--git-path=kustomize/frontends/app1/overlays/staging,kustomize/frontends/app2/overlays/staging`

It successfully deploys app1 but does nothing with app2

[2019-12-06 13:33] 2opremio commented on #2508
It should work, with the right configuration and file layout.

Is there a `.flux.yaml` file in `kustomize/frontends/app2/overlays/staging` or any of its parents? Are you taking into account that the CWD will be set to `kustomize/frontends/app2/overlays/staging` ?

Please read https://docs.fluxcd.io/en/latest/references/fluxyaml-config-files.html in detail

[2019-12-06 13:45] tomjohnburton commented on #2508
I have a `.flux.yaml` in `app1/overlays/staging` and `app2/overlays/staging`
Apologies if I am being super ignorant

[2019-12-06 14:41] 2opremio commented on #2660
TL;DR: the problem is that there there isn't a YAML parser out there which is infallible at preserving comments.

In order to update  the manifests you need to: parse the manifests-> make modifications -> write the manifest back.

To keep the comments you need a parser which preserves them (also called a roundtrip parser). Most of the YAML parsers are not roundtrip and the ones which are aren't in

[2019-12-06 14:41] 2opremio commented on #2660
related: #1933

[2019-12-06 15:03] 2opremio commented on #2662
Please use lowercase env variables (e.g. `http_proxy` instead of `HTTP_PROXY`).

We should probably accept both though. I will create a PR with that.

[2019-12-06 16:54] alastairs commented on #2663
I'm disappointed this was closed without addressing the documentation concerns I raised in my last comment. I've found Flux quite difficult to grasp so far, not least because I'm having to pull together information from 3-4 different (and somewhat sketchy) sources, with inconsistencies across them all. I still don't understand whether the annotations I'd initially used were valid but used incorrec

[2019-12-06 17:28] 2opremio commented on #2663
@alastairs Sorry, I thought your query was resolved. Your input is very valuable as a new user, since you are looking at Flux with fresh eyes (and ours are biased after working with Flux for a while).

The tag/repository annotations indicate what image to update (and where to find it in the HelmRelease values) and the filter annotation indicates what registry images are considered as candidates fo

[2019-12-06 17:34] 2opremio commented on #2663
`fluxcd.io/tag.chart-image` is a legacy and alternative way to tag/repository annotations, where you implicitly refer to an image placed in at the top level of the `values` section.

[2019-12-06 17:41] 2opremio commented on #2508
@tomjohnburton it's really hard to help you without a complete example, and we are abusing this issue since it was meant for a different issue.

Would you mind creating another issue or using the Slack channel? Please provide a self-contained example.

BTW, you will soon be able to debug manifest generation locally (as soon as https://github.com/fluxcd/flux/pull/2659 is merged)

[2019-12-06 17:52] 2opremio commented on #2663
Valid, but they didn't lead to the result you wanted

[2019-12-06 19:26] alastairs commented on #2663
Of course! I made a start earlier in the week with #2653 and am more than happy to contribute improvements when and where they’re clear. I’ll make some notes for a more substantial contribution—the main thing missing from a new user’s perspective is a “getting started” guide or similar, and I’m happy to add that when all the steps are straight in my head 😄

[2019-12-06 20:22] 2opremio commented on #2663
Have you taken a look at https://github.com/fluxcd/flux-get-started ?

[2019-12-07 07:14] jwenz723 commented on #1071
For what it is worth, my team has the requirement to deploy applications to multiple environments: sandbox, dev, test, staging, production (in that order). The number of required environments is due to the fact that we interact with legacy applications following legacy deployment strategies. We are ok with our code being deployed to sandbox, dev, and test clusters at the same time, so we treat all

[2019-12-08 08:29] masterkain commented on #2584
[code]

[2019-12-08 17:05] alastairs commented on #2663
Yes, but this speaks to my points about pulling the information from multiple different sources of information 🙂 There's some information in the documentation, some in this GitHub repo, some in the repo you pointed out, and some in the helm-operator getting started repo too.

[2019-12-09 10:42] 2opremio commented on #2662
It turns out Git follows Curl's conventions, so it doesn't accept the uppercase `HTTP_PROXY` env variable (see https://github.com/fluxcd/flux/pull/2665#issuecomment-563161752). Thus, I am surprised you managed to get the clone working inside the flux container.

[2019-12-09 10:42] #2662 closed

[2019-12-09 11:17] gitsto opened #2669 "Flux install over HTTPS - error SSL certificate problem: unable to get local issuer certificate"
Hello,

After some research on flux I didn't found any issues or pull request about this subject.
Maybe it's saying somewhere in the documentation... By the way, it's my first issue on github, I'm new to flux too :)

**Describe the bug**
When trying to install [Flux](https://github.com/fluxcd/flux-get-started) using HELM over HTTPS on a Gitea server using https url
I get this error:

and so, flux

[2019-12-09 11:29] hiddeco commented on #2669
Please read the [Flux documentation about private Git hosts](https://docs.fluxcd.io/en/stable/faq.html#how-do-i-use-a-private-git-host-or-one-that-s-not-github-com-gitlab-com-bitbucket-org-dev-azure-com-or-vs-ssh-visualstudio-com) and the [chart documentation about private Git hosts](https://github.com/fluxcd/flux/tree/master/chart/flux#flux-with-a-private-git-host).

[2019-12-09 16:32] gitsto commented on #2669
Thanks a lot @hiddeco
Ok, I understood the usage og the `git.config.data`, it is behaving like a sort of patch which will overwrite in the flux image the /root/.gitconfig file. And this also work is we activate the option `git.config.enabled=true`

So my shell script containing my helm command looks like this now:

[code]

Note that my knowledge is limited in the mount part.
So you can see that I

[2019-12-09 17:24] zlangbert commented on #1761
I also wanted to run flux and the helm controller on a Raspberry Pi cluster, and took a quick stab at this. Using docker / [buildx](https://docs.docker.com/buildx/working-with-buildx/) with slightly modified Docerfiles this tuned out to be relatively easy. You can see what I did here:

Flux: https://github.com/zlangbert/flux/commit/250533124ee946e1577a20d063edaafeb5a7464f
Helm Operator: https://gi

[2019-12-09 20:21] jdfalk opened #2671 "Have a single document that has a nice list of all annotations."
**Describe the feature**
Just like you want a clear and concise description of the feature, I want a single page where I can see ALL annotations. I don't want to have to grok them out from the examples. I want a place I can point the devs to and say "here's the list, use them appropriately."

**What would the new user story look like?**
A single doc in the reference section that lists all the anno

[2019-12-09 20:49] onedr0p commented on #1761
Thanks for that multiarch image. What's the hold up of official support from weave? This seems rudimentary to add.

[2019-12-10 09:31] 2opremio opened #2672 "Unit and end-to-end tests are flakey"
They fail from time to time. e.g. https://circleci.com/gh/fluxcd/flux/8957

@hiddeco @squaremo @stefanprodan please add more cases here (if you see them) so that I can fix them.

[2019-12-10 09:43] sa-spag commented on #2672
I had a case on #2668: https://circleci.com/gh/fluxcd/flux/8904.

[2019-12-10 10:00] 2opremio commented on #2672
Thanks

[2019-12-10 10:14] 2opremio commented on #2672
It turns out unit tests are also flakey. Two instances: https://circleci.com/gh/fluxcd/flux/8957 and https://circleci.com/gh/fluxcd/flux/8964

I believe this started happening as a result of adding two more cores to CircleCI (see #2647 )

[2019-12-10 10:59] dholbach commented on #2523
To everyone who's affected by this bug, please test the snap I just uploaded to the `edge` channel of `fluxctl` - you will need to use `--classic`. Please report back on #2529.

[2019-12-10 11:42] 2opremio commented on #2671
@jdfalk would you be willing to give it a go?

[2019-12-10 12:29] squaremo commented on #2672
https://circleci.com/gh/fluxcd/flux/8984 is a PR rebased on #2674 and still fails to pass unit tests.

[2019-12-10 12:30] #2663 closed

[2019-12-10 12:46] 2opremio commented on #2672
Without running them in parallel at least we get a simpler backtrace ...

<details>
<summary>backtrace</summary>
[code]
</details>

I think that either the docker command is getting stuck or we are somehow surpassing the limit after stopping the parallelization. I would go for the first one, since the test did pass at least once.

[2019-12-10 13:02] 2opremio commented on #2672
I think it may be `docker` getting stuck

[2019-12-10 13:41] gitsto commented on #2669
Ok, found what was wrong, since the documentation in the [Flux Chart README](https://github.com/fluxcd/flux/blob/master/chart/flux/README.md) was not clear for me about the different usages of the `extraVolumeMounts `and `extraVolumes` properties. I look up on the internet and changed the way I tried before (in my previous helm install command, I used an external file `-f /root/scripts/values.yaml

[2019-12-10 13:41] #2669 closed

[2019-12-10 14:27] texasbobs opened #2676 "Add --sync-interval to Values.yaml"
Currently, the sync-interval is set to the value for --git-poll-interval.  We would like to be able to set the git-poll-interval to 1m and set the sync-interval to 5m.  This would allow us to force a sync and overlay any manual editing that might have been performed.

This would allow the output of the helm template command to be used without any manual editing.

### values.yaml
[code]
### deploym

[2019-12-10 15:20] 2opremio commented on #2672
Of cours, as soon as I add debug print-outs it doesn't fail anymore, grrrrr https://circleci.com/gh/fluxcd/flux/9004

[2019-12-10 15:22] TomBrouwer opened #2677 "imagePullSecrets best practice"
Hello,

I searched a lot for a solution to my imagePullSecrets problem. I have installed Flux, it is also running properly. It looks good.

The only problem I still encounter is that in all the namespaces that flux creates (from my git repo) I have to copy my secret for imagePullSecrets. In addition to having the same secret in multiple namespaces, I also cannot easily create a namespace via git.

[2019-12-10 15:29] texasbobs commented on #2677
We use this. https://github.com/homedepot/k8s-global-objects It will copy secrets and configmaps to all namespaces.

[2019-12-10 17:25] 2opremio commented on #2672
I managed to make it fail https://circleci.com/gh/fluxcd/flux/9008

[code]

I am pretty sure docker gets stuck when executing `kubeyaml`. Why, I still don't know.

[2019-12-10 17:46] asheynkman78 opened #2678 "Question about .flux.yaml"
What commands are allowed in generator commands? For example, can I have generator command echo "Hello World"? Ik now my example is meaningless, I'm just trying to understand what commands are and are not allowed.

thanks,

Albert.

[2019-12-10 17:56] 2opremio commented on #2672
Here is another instance https://circleci.com/gh/fluxcd/flux/9013 . In this case it fails in another test-case:

[code]

[2019-12-10 18:07] #2678 closed

[2019-12-10 18:08] asheynkman78 commented on #2678
Please ignore... I figured this one out

[2019-12-11 11:40] 2opremio commented on #2672
OK. I think I know what's happening (and I feel a bit stupid about it).

TL;DR: we were being too conservative in the `-timeout` `go test` flag. And the flag doesn't work like I expected.

We set a timeout of 60s when running the tests. I had assumed that the timeout applied **per test** (i.e. per `t.Run()` invokation or `Test*` function). The documentation seems to indicate so:

[code]

It's not

[2019-12-11 11:45] 2opremio commented on #2672
Also (if the root cause didn't change after #2674 ), this means that parallelization wasn't really doing much.

[2019-12-11 13:57] 2opremio commented on #2672
And ... here is another instance of e2e tests failing https://circleci.com/gh/fluxcd/flux/9070

In this case, and for some reason, Flux cannot be reached.

[2019-12-11 16:36] 2opremio commented on #2655
I have given some more thought to this but I don't think we can strive to remove the URL password from every possible error message.

Also, having the password in the Flux command-line arguments by itself is not a great idea could be considered a leak in the same way as printing them in the logs.

Thus, I would recommend using something like the [Git Credential storage](https://git-scm.com/book/en

[2019-12-11 17:39] dayglojesus commented on #2655
I have already done something very similar to this in my current HTTPS setup. You may be interested to know that the credentials supplied in a Git HTTPS url are easily persisted to a user's credential store. All that is required is for one to create a `.gitconfig` with the following example content:
[code]
Once this config is created, any credential used in a Git HTTPS operation will be persisted

[2019-12-11 19:33] jdfalk commented on #2671
Sure. I won't be able to get to it until next week however.

On Tue, Dec 10, 2019 at 6:42 AM Alfonso Acosta <notifications@github.com>
wrote:

[2019-12-11 19:40] 2opremio commented on #2671
Great! :tulip: There is no rush

[2019-12-11 21:06] maximmold opened #2683 "Multiple flux instances pointing to the same repo can fail writability check due to shared flux-write-check tag"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
0. Configure multiple flux instances pointing to the same github repo at different branches
1. When there is latency talking to github, errors are seeing in the logs and the changes to the helm charts cannot be applied.

**Expected behavior**
Multiple flux instances pointing

[2019-12-11 22:29] 2opremio commented on #2672
and it happened again in master: https://circleci.com/gh/fluxcd/flux/9090

[2019-12-11 22:45] hiddeco commented on #2672
I have seen CI builds on other platforms where port `22` was occupied by some other (debugging) process or tool. Maybe it is wise to switch to a non-default port to not run in to other (unexpected) processes?

[2019-12-11 22:59] 2opremio commented on #2672
As we discussed offline. It's only port 22 in the pod, the port on the client side (`kubectl port-forward`) is randomized

[2019-12-11 23:00] 2opremio commented on #2672
Here is another e2e test failing https://circleci.com/gh/fluxcd/flux/9093 (from https://github.com/fluxcd/flux/pull/2684 ). In this case I am not even sure about what's wrong.

[2019-12-11 23:09] hiddeco commented on #2672
The problem here seems to be:

`#   `[ "$head_hash" = "$sync_tag_hash" ]' failed`

Looking at the failing test it seems that our checks are insufficient and there is a (small) possibility that we compare an empty string to the `$head_hash`.

[code]

[2019-12-11 23:11] #2683 closed

[2019-12-11 23:25] 2opremio commented on #2672
Good catch. It should be easy to turn that into a `poll_until_equals`

[2019-12-11 23:29] 2opremio commented on #2672
There is also this unit test failure. Which may be a legitimate problem? https://circleci.com/gh/fluxcd/flux/9093

[2019-12-11 23:42] hiddeco commented on #2672
I think you mean the unit test failure in https://circleci.com/gh/fluxcd/flux/9109? My theory is that this is due to some CircleCI nodes having a better connection than others, resulting in a (temporary) rate limit from DockerHub because we are hitting their registry too hard.

I think this can be simply avoided by mocking the registry using [`registry:2.x`](https://hub.docker.com/_/registry?) and

[2019-12-11 23:53] 2opremio commented on #2672
Sorry, wrong link. I was referring to https://circleci.com/gh/fluxcd/flux/9158

[2019-12-12 13:02] 2opremio commented on #2672
After #2688 it seems like e2e tests are way more stable. I run them ~30 times in a row at https://circleci.com/gh/fluxcd/workflows/flux/tree/reproduce-flakey-tests and they worked except for [an occurrence of Kind failing to create a cluster](https://circleci.com/gh/fluxcd/flux/9236) which I think we will need to live with.

We still have the unit test failures from https://circleci.com/gh/fluxcd/

[2019-12-12 13:04] #2523 closed

[2019-12-12 14:52] alanjcastonguay commented on #2642
Nice; some resources that Flux isn’t expected to be manipulating (eg Pods and ReplicaSets) can be excluded for the common-case. That might make for a good example in the docs.

[2019-12-13 11:02] Miradorn opened #2689 "Pass image information to pod"
**Describe the feature**

I need to get the tag of the container image from within the container.
Due to our build pipeline, the Tag is not known at build time (It is build/tagged with the current commit sga and tagged with a release version later).
Therefore I think a solution would be to somehow pass the image tag that Flux discovers to the container as an environment variable, maybe with a yaml

[2019-12-13 11:41] hiddeco commented on #2689
Can’t this simply be achieved by modifying the deployment in your Helm chart to set `{{ .Values.image.tag }}` as an environmental value?

[2019-12-13 12:16] Miradorn commented on #2689
Yeah, you're totally right, I know there had to be a way, thanks!

[2019-12-13 12:16] #2689 closed

[2019-12-13 16:25] isen-ng opened #2690 "flux automated image updated stops updating if there are any corrupted image manifests"
**Describe the bug**
I have seen this issue https://github.com/fluxcd/flux/issues/1701 but I think this is still not working for automated workloads.

We have a helm release with multiple images on automated releases. Recently we encountered a corrupted manifest for datadog and automated updating of images stopped completely. I should add that updating the image values/helm charts manually still c

[2019-12-13 16:51] isen-ng commented on #2690
Update:
I've removed datadog and the images are still not updating.

Now the logs just say this repeatedly:
[code]

Closing. Will reopen if I can determine if this is an issue with flux

[2019-12-13 22:43] jessebye opened #2691 "Flux shouldn't get stuck on deadlocked finalizers during garbage collection"
**Describe the bug**
If any namespace is stuck "terminating" (due to a bad finalizer, for example), flux will stop applying any new changes.

**To Reproduce**
Steps to reproduce the behaviour:
0. Ensure that flux garbage collection is enabled.
1. Add a namespace that has a finalizer. For example, we use an Ansible operator with custom resources, which adds a finalizer to our namespaces so it can c

[2019-12-16 14:13] casibbald commented on #2568
@antonosmond I really would like to see this functionality implemented.
So +1 from me

[2019-12-16 14:59] Docteur-RS opened #2695 "Report errors at kubernetes level"
**Describe the feature**
## Actual state
When a fatal error appears in Flux it gets logged on the output of the container.
(I call **fatal error** things like *cloning* or *yaml syntax* errors)
The only way to access thoses errors and know the state of Flux is to read the logs using `kubectl logs flux`

## Requested feature
An enhancement would be to have fatal errors reported directly inside the

[2019-12-16 15:04] richardcase commented on #2465
I think this would be a good feature.

[2019-12-16 15:16] richardcase opened #2696 "Post Synchronisation Hook"
**Describe the feature**
I would like the ability to create a post-synchronisation webhook that includes the list of changed resources or any errors (or errors could be a separate hook).
https://github.com/fluxcd/flux/blob/master/pkg/daemon/sync.go#L80

This would allow me to integrate with external systems that are interested in when a change to a resource has been.

**Expected behavior**
Configu

[2019-12-16 15:21] pratap-dotnet commented on #1491
Anybody still looking at the parser/filter? If yes, could you please share the filter. Stackdriver is completely filled with error logs even while there is no error

[2019-12-16 15:22] pratap-dotnet commented on #1491
@olib963 do you have the solution

[2019-12-16 16:43] swade1987 opened #2697 "Flux 1.17.0 unable to poll new images from Quay.io"
**Describe the bug**
Flux 1.16 was unable to pull new images from quay.io cluster-wide.

**To Reproduce**
See https://weave-community.slack.com/archives/C4U5ATZ9S/p1576512988014000

**Expected behavior**
Flux should poll images as in previous releases.

**Logs**
**1.15.0**
[code]

**1.16.0**
[code]

**Additional context**
- Flux version: v1.16.0
- Helm Operator version: 1.0.0-rc1
- Kubernetes vers

[2019-12-16 17:23] 2opremio commented on #2697
@swade1987 the log excerpt of 1.16 you posted doesn't lead to think anything is wrong.

[2019-12-16 17:27] swade1987 commented on #2697
The args we are using is ...

[code]

The interesting question is the flux instance in question that was erroring doesn't use Kustomize however we are providing the ` - --manifest-generation=true` flag.

Additionally, after I saw flux working with 1.15 again I rolled forward to 1.16 and the same issue happened again until I rolled back.

[2019-12-16 18:29] 2opremio commented on #2697
@swade1987 thanks for the details but, so far, you haven't included any actual evidence of the symptoms you mention. We obviously believe you, but we need something to work with :). Please share the Flux logs and the Memcache logs (if relevant).

[2019-12-16 18:57] 2opremio commented on #2697
As a side note, quay is known to have pretty restrictive rate-limiting policies, so, it's normal that you get rate limited until the cache gets filled in.

However, when upgrading you should be able to reuse the cache if you don't delete the memcached deployment.

[2019-12-16 22:50] hiddeco commented on #2697
Other things that are sometimes valuable while debugging issues like this:

[code]

[2019-12-17 03:15] chainlink opened #2699 "Created Timestamp issue with gcr.io repo not detected"
**Describe the bug**
Flux will not detect Created timestamp for gcr.io repo.

Seeing this error in the logs:
[code]

But if I run docker inspect on that image I get:
[code]

If I run `list-images` the `CREATED` column is blank on those images and I see `15 images omitted`

Flux version: 1.16.0

I'm currently not using any labels in my docker containers (having trouble adding in build-date label vi

[2019-12-17 10:50] hiddeco commented on #2699
The error is a warning, and may also be logged while it falls back to the `Created` timestamp. From what you are reporting, and to be precise

this fallback seems however not to happen, or the wrong thing is parsed.

Can you share the `Config.Labels` output from `docker inspect <image>` with me? Plus the `fluxctl` version you are using (`fluxctl version`)?

[2019-12-17 11:34] swade1987 commented on #2697
@hiddeco @2opremio going to close this as upgrading to 1.17 fixed the issue almost immediately.

[2019-12-17 11:36] 2opremio commented on #2697
That is odd since I don't think anything changed on how we handle container registries

[2019-12-17 13:48] swade1987 commented on #2697
The issue is still persisting in our development cluster with 1.17

[2019-12-17 17:06] 2opremio commented on #2697
Those are only 2 minutes worth of logs from the start. Can you send us a longer excerpt?

Also, can you send us the `memcached` logs?

To be more precise and understand what is happening. What do you mean by _Flux was unable to pull new images_?  Do you mean that Flux fails to make automated updates? (Flux not pulling images isn't a symptom in itself and the logs don't really show there is a probl

[2019-12-17 17:26] chainlink commented on #2699
Found it! Thanks for the prompt (I should have checked the `labels` of the docker image before...)

[code]

Turns out the base image it setting the label, and in the wrong format to boot. Ugh

[2019-12-17 18:55] hiddeco commented on #2699
@chainlink I am glad you consider this issue to be solved, but Flux should still have fallen back to the `Created` date you originally mentioned.

My suspicion is however that you are using an older `fluxctl` version, to be precise one before #2594 (`<=1.15.0`). Can you confirm everything works as expected using `fluxctl` `1.16.0` or `1.17.0`?

[2019-12-17 18:59] hiddeco commented on #2672
Another one just happened on `master` https://circleci.com/gh/fluxcd/flux/9314

[2019-12-17 20:14] 2opremio commented on #2697
@swade1987 please also provide the information asked by @hiddeco at https://github.com/fluxcd/flux/issues/2697#issuecomment-566283067

[2019-12-18 14:38] #2697 closed

[2019-12-18 14:39] 2opremio commented on #2697
OP's Flux instance was being rate-limited by Quay. It got fixed by restricting the scope of Flux to specific namespaces.

[2019-12-18 17:46] jdfalk opened #2702 "Flux should update version label in deployments."
**Describe the feature**
When flux automatically updates to a new container version, update the `version` and `app.kubernetes.io/version` as well.

**What would the new user story look like?**
How would the new interaction with Flux look like? E.g.
0. User sets `version` or `app.kubernetes.io/version` labels that match the current image tag
1. User sets `fluxcd.io/automated`: `true`
2. New contain

[2019-12-19 18:43] alastairs opened #2703 "Flux does not update image from purely numerical tags"
Our Docker images are tagged with a simple numeric value by our build system. I've a `HelmRelease` defined with annotations as follows:

[code]

flux has successfully deployed this Helm release, Kubernetes has pulled the image and started the container succesfully. Flux has also identified that there are newer versions of the image available:

[code]

However, the deployed image is, as indicated i

[2019-12-20 00:26] jstevans opened #2704 "Support signature verification of signed merges from unsigned branches"
**Describe the feature**
`fluxd` when configured with `--git-verify-signatures` accepts a signed commit `A` as long as there is a completely-signed merge-base between that commit and flux's current revision.

**What would the new user story look like?**
1. We would like to have a workflow where our `master` branch is unsigned.
2. There is some human-initiated automation that creates a signed (`no-

[2019-12-20 09:13] hiddeco commented on #2704
Short comment as I will be off from today on until after new year, but wanted to give this some attention so you know it has been looked at (by the person who wrote the initial signature verification implementation).

First: thanks a lot for diving into the code and getting familiar with it before making the request. I think your enhancement request is valid, and can see why you want to have this.

[2019-12-20 09:15] 2opremio commented on #2656
Why not? As long as you keep the HPA in git and edit the values there, it should work.

[2019-12-20 09:19] 2opremio commented on #2703
Can you show us the creation time and creation labels of both images?

[2019-12-20 09:20] 2opremio commented on #2703
Also, can you show us the full `HelRelease`? (with the full annotations and values)

[2019-12-20 10:02] alastairs commented on #2703
@2opremio Thanks for your quick reply. I'm not sure what you mean by "creation label", sorry. Is the "created" column in the issue description different from what you mean by "creation time"?

The `HelmRelease` is as follows:

[code]

[2019-12-20 10:08] stefanprodan commented on #2703
Replace `filter.fluxcd.io/extractors: regexp:^[0-9]*$` with `filter.fluxcd.io/chart-image: regexp:^[0-9]*$` and please read the docs to see how automation works for HelmReleases http://docs.fluxcd.io/en/1.17.0/references/helm-operator-integration.html

[2019-12-20 10:12] hiddeco commented on #2703
In addition to @stefanprodan his comment, the `repository.fluxcd.io/extractors` annotation can also be removed.

[2019-12-20 10:40] alastairs commented on #2703
Thanks @stefanprodan. I'm finding this area _extremely_ confusing; in fact, in #2663 you yourself seemed to recommend changing from a `chart-image` annotation to an alias annotation.

Thanks @hiddeco. I'm further confused, because in creating #2670, it was indicated that the `repository.fluxcd.io/<alias>` annotation was _required_ in order for the equivalent registry/tag/filter annotations to take

[2019-12-20 10:45] stefanprodan commented on #2703
@alastairs the annotations should match the HelmRelease values structure, not the deployment one, the problem with your values is that the image is not specified so Flux can't update it.
[code]

[2019-12-20 12:07] alastairs commented on #2703
So based on http://docs.fluxcd.io/en/1.17.0/references/helm-operator-integration.html#automated-image-detection, I think the structure should be:

[code]

Does that look right?

[2019-12-20 12:12] stefanprodan commented on #2703
Yes that looks ok to me

[2019-12-20 12:47] noamt opened #2706 "Automated release picks image contrary to filter"
**Describe the bug**
The `HelmRelease` updates with new tags that don't match the filter

**To Reproduce**

1. Single cluster
2. 2 namespaces - `research` and `production`
3. Single chart repository that defines a web app
4. A `HelmRelease` object that controls the web app on the `research` namespace with a filter of `'glob: develop-*'`
5. A `HelmRelease` object that controls the web app on the `p

[2019-12-20 12:52] alastairs commented on #2703
Ok, still no luck. Here's the current state of play:

#### `HelmRelease`
[code]

#### `fluxctl list-workloads -ndev`
[code]

#### `fluxctl list-images -w dev:deployment/vehement-bunny-extractors`
[code]

#### `fluxctl list-images -w dev:helmrelease/extractors`
[code]

[2019-12-20 12:59] pcfens commented on #2656
Editing in git works well when it's a manual change but not for automatic changes like scaling a test environment to 0 overnight and on weekends.

[2019-12-20 14:21] hiddeco commented on #2706
Your filter annotation has a typo, `filter.fluxd.io/api-production` -> `filter.fluxcd.io/api-production`.

[2019-12-20 14:24] noamt commented on #2706
F'in hell.
Good catch, don't know how I missed that.
Thanks and sorry for the wasted time

[2019-12-20 14:24] #2706 closed

[2019-12-20 14:31] hiddeco commented on #2706
@noamt no worries, you took the time and effort to write a (good) lengthy issue so we are all square now 🌷

[2019-12-20 15:38] alekssd commented on #1125
Can someone explain how he make it work without giving root usr to flux container ? I have problems with chmod on identity file on openshift, and I didn't find any acceptable solution for it.

[2019-12-20 16:37] richardcase commented on #1125
@alekssd - i've been working on some changes on the openshift side of things #2652

[2019-12-20 16:45] alekssd commented on #1125
I don't see what I should add to make it work while waiting for your commit beeing accepted and merged.  Is it the new SCC ?

[2019-12-20 18:09] jseiser opened #2708 "Flux/ECR - Image Upgrades are not working"
**Describe the bug**
Flux is not able to update images coming from ECR.

**To Reproduce**
Steps to reproduce the behaviour:
0. EKS Running in Account 1
1. Images, in ECR, in Account 2
2. Grant Access to ECR in Account 2, to Account 1 via
3. Deploy HelmRelease, where images are in ECR
4. Release Deploys Fine
5. Automated Upgrades fail

**Expected behavior**
I would Expect Flux to be able to track/u

[2019-12-20 18:50] jseiser commented on #2708
Closing this out, because i figured out the issue.  Im not really sure if this is something that could be added to the documentation, since it gets rather specific.

1) The account your ECR is in, needs to grant access to the account Flux is in, OR, to the role that your flux pod will be granted.
2) Your FLUX/Helm Operator pods need to have a IAM Role on them, that grants read access to ECR in gen

[2019-12-20 18:50] #2708 closed

[2019-12-22 09:12] christiangda opened #2709 "How to bootstrap Flux using Kustomize -- instructions don't work"
**Describe the bug**
If you are trying to follow the instructions describes in [https://docs.fluxcd.io/en/1.17.0/tutorials/get-started-kustomize.html](https://docs.fluxcd.io/en/1.17.0/tutorials/get-started-kustomize.html), these don't work properly.

After spending some time debugging, I achieved it to work, but I don't know if the bug is fluxcd, kustomize, kubectl, my environment or all together.

[2019-12-23 15:37] abbi-gaurav opened #2710 "Provide ability to trigger CI once flux applies changes"
**Describe the feature**
Flux is a great tool for GitOps. However, what I am missing is the ability to roll-over from say `stage` to `production` in a true Gitops fashion.

I would like to keep the git as my source of truth whether it is for a stage or a production deployment.

Here is my generic idea:
* A flux controller is deployed in the `stage` namespace.
* A flux controller is deployed in the

[2019-12-23 17:16] chancez commented on #2710
Perhaps if Flux had a CRD, or other resource which could be watched it would be relatively easy to write something which would allow you to be notified however you like, eg: webhooks, or a queue, etc.

I've wanted some way to monitor Flux' progress in rolling out changes myself, not for automation, but more for monitoring. I know ArgoCD operates on CRs and it maintains some information in the stat

[2019-12-23 18:40] MrBasset opened #2711 "Automate deployment of helm chart on subchart update"
**Describe the feature**
I'm not 100% sure if this is a bug or a feature request. I'm hoping I've just read the documentation wrong, but would be thrilled to learn that this is supported?

I've have a single umbrella chart and Helm Release for the discrete components of our application, with the dependencies being referenced by explicit version number and held in our private repo.  e.g.

[code]

E

[2019-12-24 13:33] kammous opened #2712 "Maintenance window and exclusions support"
**Describe the feature**
A user can configure maintenance windows and maintenance exclusions to control when automatic updates can and cannot occur.

**What would the new user story look like?**

0. Application updates mustn't occur during some hours/days
1. User starts up Flux using --maintenance-windows  or --exclusions-windows flags (to be defined)
2. New commits in git branch happen out of mai

[2019-12-27 01:03] groodt opened #2713 "Flux may be leaking files in /tmp"
**Describe the bug**
Flux fills up /tmp

**To Reproduce**
Large monorepo. Flux runs fine for a few days, then slowly leaks disk and then ultimately runs out of space. I've mounted a PVC at /tmp so that it doesn't consume disk on the node itself.

**Expected behavior**
Fluxcd should probably clean-up after itself?

**Logs**
[code]

**Additional context**
Add any other context about the problem here

[2019-12-27 10:42] 2opremio commented on #2713
Can you list what's in tmp? How many directories? How much does each one
occupy? Can you show us the rest of the logs?

On Fri, Dec 27, 2019, 02:03 Greg Roodt <notifications@github.com> wrote:

[2019-12-27 11:10] nikhilbalekundargi commented on #2624
I am facing the same issue in GCP. K8s Cluster is running on Project-1 and Images are in Porject-2. And I am using workload identity https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity not image pull sercrets. Created a service account in project-1 with workload identity role. Added the same service account to project2 with storage object viewer role.

[2019-12-27 12:50] gecube commented on #1290
Get the same error. There is no descriptive description:

[code]

The fluxd of 1.17.0 version and I try to trigger the change of image from fluxctl utility (without helm).

[2019-12-27 13:02] gecube commented on #2655
The same issue with leaking of PAT as topicstarter stated.

[2019-12-27 23:51] groodt commented on #2713
I've removed the PVC now and letting it grow to fill up the host volume until it gets evicted on disk pressure.

This is what I'm currently seeing:

[code]

[2019-12-28 00:01] groodt commented on #2713
Here's an example of an eviction message from before I tried mounting a PVC at `/tmp`

[code]

When I saw the evictions happening, I thought that I could add a large PVC to give flux longer runway, but instead of evictions, it eventually runs into `no space left on device`. I unfortunately don't have more logs to hand of this happening. I can add back a PVC to reproduce if necessary. It might take

[2019-12-28 18:04] rndstr commented on #1290
@gecube what would you like it to say instead? it looks pretty descriptive to me, it can't find the mentioned image (tag).

[2019-12-28 18:24] chainlink commented on #2699
I'm using `1.16.0` on both the client and server. Will try upgrading to `1.17.0`

[2019-12-28 18:29] 2opremio commented on #2713
It may not be a leak (Flux creates a main clone and then an additional
clone for each operation). If the clones end up disappearing eventually, it
could simply have happened during an active period.

On Sat, Dec 28, 2019, 01:01 Greg Roodt <notifications@github.com> wrote:

[2019-12-28 19:43] chainlink commented on #2699
Upgraded to 1.17.0 and still see the same error in the logs
[code]

`fluxctl list-images` gives:
[code]

[2019-12-28 19:48] chainlink commented on #2699
(Re-opening as this should fallback)

[2019-12-28 20:00] gecube commented on #1290
@rndstr I mean that there are dozens of reasons why particular tag can't be found. In my case I was sure that the specified tag existed in registry, so it is definitely bug in Flux. Finally, I was able to diagnose the root cause of the issue: Flux did not scan registry for tags because I didn't select particular k8s namespace via command line to be scanned and after that for some reason Flux did n

[2019-12-28 21:31] groodt commented on #2713
Ok, this implies a few things. Can you please confirm for my understanding?

1. Flux can only use a host filesystem (not possible to run fluxcd on a cluster of nodes without disks) because it relies on automated clean-up of /tmp outside fluxcd.
2. It relies on the /tmp clean-up semantics of the underlying nodes. This varies by distro. Sometimes only on boot, sometimes using tmpwatch etc.
3. Before

[2019-12-28 21:38] 2opremio commented on #2713
Flux cleans after itself, but it will create a local clone for each
operation it applies on the repository.

On Sat, Dec 28, 2019, 22:31 Greg Roodt <notifications@github.com> wrote:

[2019-12-28 21:40] 2opremio commented on #2713
About (3), in the case of a very big repo I guess that's the case. It's not
usually a problem with usual repos.

On Sat, Dec 28, 2019, 22:38 Alfonso Acosta <fons@weave.works> wrote:

[2019-12-29 05:43] groodt commented on #2713
Thanks for the replies.

Ok, this sounds good. Do you have more information about how frequently clean-up is happening or if there is a mechanism to configure it? I looked briefly at the code and nothing jumped out at me. If fluxcd is cleaning up after itself predictably, then it is possible to mount a PVC to /tmp as long as it is appropriately sized for the size of the repo (+ future growth of th

[2019-12-30 09:59] gecube commented on #2710
Hello!

I found flux too useful very much. And I think that the proposed feature is out of scope of Flux tooling.
Right now I implement the analogical scheme with GitLab-CI:

1. the `prod` environment is located in `prod` branch and `stage` environment in `stage` branch
2. When I change the `stage` branch, GitLab-CI process triggers the sync with Flux in stage cluster
3. I make checks that everyth

[2019-12-30 21:41] stefanfritsch opened #2718 "[FR] Include build number in semver"
Hi,

for many docker images it is useful to set the version to the version of an upstream server and distinguish between images with build numbers.

E.g. gitlab `12.5.5` would end in an image with version `12.5.5.201` (whether or not the build number resets with each gitlab version depends on the CI config).

It would be really nice if the semver versioning could work with these versions and accep

[2020-01-02 10:25] goober commented on #2648
We are facing the same issues where flux does not delete objects that have been delete from the repository. We are using the the 1.17.0 version. And if I remember correctly it worked with the feature-flag `--sync-garbage-collection` in 1.16.x.

We have currently the following RBAC on each namespace that flux should handle:

[code]

[2020-01-02 14:51] jantoebes commented on #986
You can still use the ssh url/authentication @bricef and add the authentication key to the gcp repository?

[2020-01-02 16:57] mjpitz opened #2720 "`fluxctl sync` exposes password when using https"
**Describe the bug**
When performing a `fluxctl sync` on an instance who is configured to use HTTPS credentials, the username and password are exposed in the command line.

**To Reproduce**
Steps to reproduce the behaviour:
0. What's your setup?
1. Configure flux to use HTTPS with credentials.
2. Once flux has been configured use `fluxctl` to synchronize the state.
3. You will see the username and

[2020-01-02 17:21] 2opremio commented on #2720
What version of flux are you running?

[2020-01-02 17:46] mjpitz commented on #2720
Ah. Looks like I was on an older version. `1.17` only outputs the username.

[2020-01-02 19:36] stealthybox commented on #2677
You could use https://github.com/bitnami-labs/sealed-secrets and store the encrypted versions of the ImagePullSecrets in the repository.

The SealedSecret would then be placed into the accompanying new Namespace and the controller will unseal them.

Others use similar encryption techniques to store unreadable Secrets directly in the git repo.
This reduces the manual steps needed to set up a new cl

[2020-01-02 19:37] 2opremio commented on #2720
Great

On Thu, Jan 2, 2020, 18:46 Mya Pitzeruse <notifications@github.com> wrote:

[2020-01-02 20:35] mjpitz commented on #2720
Still seems less than ideal that all I need to do to expose a password is checkout and use an older version of the CLI. Any desire to improve that specific use case?

[2020-01-02 22:13] 2opremio commented on #2720
I thought you upgraded the server, not the CLI, we should filter it out on the server side

[2020-01-02 23:09] mjpitz commented on #2720
Apologies for the vagueness. I upgraded my client only (1.17). We're on `1.16` for the server.

[2020-01-02 23:09] mjpitz commented on #2720
I'll try and upgrade our server to see what that outcome is. Rolling back the client shouldn't be too hard to do.

[2020-01-03 14:21] marsavela commented on #2568
Even though following a tag is something I could find useful, I'd like Flux to be able to detect when a tag has been made and same for releases. In this way I could have:

Dev cluster: latest and greatest.
Stage cluster: updated when I create a new tag.
Prod cluster: updated when I create a new release.

Is any of this already possible? I guess this is also manageable with branches though.

[2020-01-03 20:50] nabadger commented on #2710
I was going to suggest fluxcloud - but you have already.

@chancez we use fluxcloud in combination with https://github.com/mintel/fluxcloud-filebeat

We then ship events from filebeat to elasticsearch, and then pick them up in grafana (elasticsearch is a datasource). We display flux events as annotations - it gives us a way to monitor releases, but doesn't give any information on the rollout-statu

[2020-01-03 21:06] nabadger commented on #2709
Pretty sure this is a kustomize v3.x change.

Also note that `kubectl -k` and the standalone binary `kustomize` can refer to different versions.

See https://github.com/kubernetes-sigs/kustomize#kubectl-integration

So it's likely that you're running `kustomize v3.x` as the standalone, but `kustomize v2.03` when using `kubectl -k`

---

It might be best to focus on using the `kustomize` binary in

[2020-01-04 16:03] TomBrouwer commented on #2677
Thanks for your replies.

@texasbobs I will look at it, I think it will solve my problem, but I am also interesed in the answer of stealthybox.

@stealthybox I am using sealed secrets in mij application project now. I am curious how I can solve my problem with sealed secrets. After your answer, I think that when creating a namespace with Flux from git, I can also create imagePullSecrets in the nam

[2020-01-06 11:16] TomBrouwer commented on #2677
Hi,
I created imagePullSecrets within the namespace file. And it did create the secret. So in my directory namespaces I have a dev.yaml. First it was:
[code]

Now I added my sealedsecret to this file:
[code]

I hadn't thought of that before. So now I can create namespaces from GIT with there own imagePullSecrets.

Thanks for your responses!

[2020-01-06 11:16] #2677 closed

[2020-01-06 11:25] bootc opened #2723 "Flux uses registry credentials from other namespaces"
**Describe the bug**
Flux appears to be using credentials from other namespaces when accessing our private registry, and is thus failing to check for image updates.

The logs below show the relevant (and slightly redacted) lines for one of our environments with 5 applications in 5 different namespaces, all pulling from the same registry and with the same Secret name. `app1:Secret/gitlab-registry`

[2020-01-06 20:52] demisx commented on #1948
I've just reinstalled the latest Flux helm chart with:

[code]

And keep seeing this error in the flux log:
[code]

Am I missing something? Why is it still trying to read tags from Quay instead of Docker?

[2020-01-07 19:56] demisx commented on #2517
I also constantly see this issue with `sorintlab/stolon`.  I guess it can be ignored if I am not automating release of those images:

[code]

[2020-01-07 20:48] cmanzi commented on #2554
Can confirm I'm seeing this with Flux 1.17.0 as well. Both cert-manager and metrics-server API services. Restarting the Flux pod seems to get fix it.

[2020-01-08 03:03] aimuz opened #2724 "There was an error trying to release: Error: no changes made in repo"
**Describe the bug**
I have the following error using
[code]

[code]

[code]

**To Reproduce**
Steps to reproduce the behaviour:

The only difference between me and the official `flux-get-started`  is this file

podinfo-dep.yaml

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**

[code]

**Additional context**
Add any other context about the pr

[2020-01-08 03:50] #2724 closed

[2020-01-08 09:52] icy commented on #2013
I'ma using Flux-1.17.0 on an EKS cluster (1.14.7), without Helm and I have the same issue:

[code]

[2020-01-08 09:56] icy opened #2725 "type="internal kubernetes error"... unknown (get customresourcedefinitions.apiextensions.k8s.io)"
**Describe the bug**

I see some strange error message in flux daemon logs, but there are no thing else

**To Reproduce**

[code]

**Expected behavior**

No such error log

**Logs**

[code]

**Additional context**

- Flux version:  1.17.0
- Helm Operator version:  We are not using Helm / Helm Operator
- Kubernetes version: Eks 1.14.7
- Git provider: github
- Container registry provider: ECR

[2020-01-08 09:56] icy commented on #2013
As I can't reopen this ticket, I create new one here https://github.com/fluxcd/flux/issues/2725 Thanks

[2020-01-08 11:20] 2opremio commented on #2703
Does the chart in `charts/extractors` also define entries with the same structure as the following?

[code]

[2020-01-08 11:25] stefanprodan commented on #2703
In YAML `tag: 150` makes the value an integer and I think it breaks the parser, should be `tag: "150"`

[2020-01-08 12:39] #2720 closed

[2020-01-08 13:34] 2opremio commented on #2725
@icy what makes you think this is related to #2013 ?

What seems to be happening is that your cluster doesn't include support for `customresourcedefinitions.apiextensions.k8s.io`

What does `kubectl api-versions` show you?

[2020-01-08 13:36] 2opremio commented on #2725
Or that the Flux service account doesn't have permission to watch CRDs

[2020-01-08 13:39] icy commented on #2725
@2opremio I am not sure if it is related. I haven't seen any requirements from fluxcd homepage.

The output of the command is as below. I can run `kubectl apply -f-` to deploy my resources normally so I don't think it's a problem of my k8s cluster.

Please let me know if you need any further information.

Thanks a lot.

[code]

[2020-01-08 13:54] 2opremio commented on #2723
I think that the problem was introduced in https://github.com/fluxcd/flux/pull/2520

I am looking into it.

[2020-01-08 13:55] 2opremio commented on #2723
BTW, thanks a lot for the detailed bug report and for pinpointing in what version the bug was introduced.

[2020-01-08 14:10] stefanprodan commented on #2725
Can be an RBAC issue, can you post here the Flux RBAC and the service account name specified in the Flux deployment please

[2020-01-08 14:53] icy commented on #2725
Sure; as it may be too long I have posted it here https://gist.github.com/icy/3d21c1e8d2faea8eeda650c870bf5590 . I have a read-only policy that would allow flux to read everything at cluster level, and then I apply write permission to allow fluxd to apply changes on some specific namespaces (in my gist, it's `demo` namespace.)

In case of RBAC issue I would expect some message likes ` Error from s

[2020-01-08 15:03] stefanprodan commented on #2725
read-only doesn't mean only list and Flux also needs to read access to the namespace kind. Please use this https://github.com/fluxcd/flux/blob/master/chart/flux/templates/rbac-role.yaml#L38

[2020-01-08 15:31] 2opremio commented on #2723
@bootc I have just created a fix for this. See #2728 . It will be included in the next release.

[2020-01-08 15:33] icy commented on #2725
@stefanprodan You're right. I have given flux the access as mentioned and the error is gone. I didn't use the chart ; I used the fluxctl to generate the manifests and then I change the rbac-related things.

Thanks again and sorry for the noise.

[2020-01-08 15:33] #2725 closed

[2020-01-08 15:36] bootc commented on #2723
Thanks @2opremio! Is there (or will there be) an image of Flux I can test with before it's released?

[2020-01-08 16:18] 2opremio commented on #2723
I can create one for you. Give me a few minutes

[2020-01-08 16:25] 2opremio commented on #2723
You can use `2opremio/flux:scope-imagepullsecrets-correctly-a802915a` to test that it works

[2020-01-08 16:49] bootc commented on #2723
Yes, that looks like it fixes the issue for me. Many thanks! :+1:

[2020-01-08 20:49] marshallford commented on #2170
The `istio-init` and `istio` helm chart require order to install correctly. In the same vein how can I ensure flux installs CRDs before a helm chart (for example `cert-manager` or flux itself)?

[2020-01-08 23:05] #2723 closed

[2020-01-09 03:22] kwontae commented on #1719
@squaremo hey! So I tried setting the CHECKPOINT_DISABLE=true as both env variable and arg in `flux-patch.yaml` but it causes the pod to go into crashloop... I'm running it with kustomize

[2020-01-09 08:39] 2opremio commented on #1719
@kwontae can you create an issue for this with more details (e.g. the crash backtrace)

[2020-01-09 08:45] stefanprodan commented on #1719
There is no such command arg that's why Flux crashes, you only need to set the env var.

[2020-01-09 09:02] cstaud opened #2729 "Filter pattern type: strict-semver"
**Describe the feature**
Actual there exist 3 filter pattern types: glob, regexp and semver. [semver](https://docs.fluxcd.io/en/1.17.0/references/fluxctl.html#semver)  is documented to filter for Semantic Versioning, but it isnt. While [semver.org](https://semver.org/) describes a valid semver with the X.Y.Z patter, this implementation allows a lot more. So for flux just an integer is seen as a se

[2020-01-09 11:23] omerlh commented on #1811
Any update on that?

[2020-01-09 11:48] stefanprodan commented on #2729
Can post here an example of the a semver filter and a miss-match of 8 charts, Flux uses  https://github.com/Masterminds/semver I'm going to update Flux to the latest version of that package and write a test if you can provide me with the above.

[2020-01-09 11:48] 2opremio commented on #1811
There is already support for it through `.flux.yaml` files. See https://docs.fluxcd.io/en/latest/references/fluxyaml-config-files.html

The only catch is that you need to install the kubecfg & jsonnet executables/runtime dependencies yourselves since they are not included in the Flux image (this can be done by creating your own image or installing the dependencies through an init container).

And

[2020-01-09 11:48] #1811 closed

[2020-01-09 12:08] tomjohnburton commented on #399
Any more movement on this?

[2020-01-09 12:29] 2opremio commented on #399
Not a priority right now, but we accept PRs!

[2020-01-09 13:44] cstaud commented on #2729
At first thank you for your support. We already noticed this, the implementation there is also wrong.
If you have a look at the [implementation](https://github.com/Masterminds/semver/blob/910aa146bd66780c2815d652b92a7fc5331e533c/version.go#L41) the regex used there matches also non-valid contrains. Have a look at [this](https://regex101.com/r/Ru8yRH/1)

But i will give you a more detailed explanat

[2020-01-09 14:00] 2opremio commented on #2651
Sorry this went unanswered. `--oc` is fine

[2020-01-09 14:08] 2opremio commented on #2691
We should probably have a timeout with Kubernetes operations. Question is ... to what value since deletionin Flux  is (rightfully) synchronous and finalizers can take a long time .

[2020-01-09 15:28] 2opremio commented on #2709
Thanks for such a detailed report! And sorry for taking so long to answer (Christmas vacation got in the way).

This documentation was made for an old version of kustomize, which doesn't seem to be compatible with newer versions. I will fix it. Thanks again!

[2020-01-09 16:17] #2709 closed

[2020-01-09 17:00] Crevil commented on #2691
But its a problem without a timeout as it stops the application from working if no controller is able to respond to the finalize requests.

As long as it is configurable and an error is logged if the timeout is reached, one can tweak it to ones expectations and also get some indication of the problem.

[2020-01-09 17:45] 2opremio commented on #2691
I am OK with a timeout if we default to none (since we don't know how long finalizers can take) However, I don't think that's very useful.

Alternatively we could make deletions asynchronous, but that's really ugly and can hide errors.

[2020-01-09 18:59] 2opremio commented on #2672
Another failure, due to kind failing to create a cluster https://circleci.com/gh/fluxcd/flux/9444

[2020-01-09 19:17] Crevil commented on #2691
How would they hide? If they appear clear in the logs, I dont find it a problem.

I actually think that approach is better than timeouts, as to your point. That will ensble flux to carry on with other tasks and thus not get to a halt.

[2020-01-09 21:08] 2opremio commented on #2691
You wouldn't be waiting when an error happens and nothing will be shown in the logs. For instance, when a finalizer hangs like indicated in this issue.

[2020-01-09 21:38] Crevil commented on #2691
Your right. My mistake. 👍
Any idea how other controllers manage these kind of things? I can think of something right now.

[2020-01-10 02:14] kwontae commented on #1719
@stefanprodan I've added it to
[code]
but it results in Error as well

[2020-01-10 03:31] groodt commented on #2713
Another update on this, it happened again. The pod goes into `CrashLookBackOff` so it's not possible to get onto the container to see the contents of `/tmp`.

[2020-01-10 06:08] kwontae commented on #1719
Got it fixed. I included the env in `flux-patch.yaml`. I didn't realize kustomize overwrites the base layer of `deployment.yaml`

[2020-01-10 11:42] 2opremio commented on #2584
This will be fixed by #2524

[2020-01-10 11:44] 2opremio commented on #2695
I don't know how hard it is for a pod to change its own status (or whether it's possible at all) but it seems like abusing Kubernetes' status mechanism, since the problem is likely not coming from the pod itself but most likely environmental.

I think that prometheus metrics are a much better solution (e.g. https://github.com/fluxcd/flux/pull/2535 )

[2020-01-10 12:14] 2opremio commented on #2246
This bug fell through the cracks, sorry. @jowparks is this still a problem with Flux 1.17.0 ?

[2020-01-10 12:15] 2opremio commented on #2328
Closing this, since #2338 seems to have sorted it out. @cristian-radu is this still a problem? Please let me know.

[2020-01-10 12:15] #2328 closed

[2020-01-10 12:21] 2opremio commented on #2354
The problem is that it's hard to know whether the annotation is missing or not.

I guess we could do two things:
1. Print a warning if any of the`fluxcd.org`-prefixed annotations doesn't exist (and take the opportunity to warn about `flux.weave.works` annotations being deprecated).
1.b) for extra points we could use something like https://github.com/sajari/fuzzy to suggest other names.
2. If there

[2020-01-10 12:28] 2opremio commented on #2416
@aliartiza75 Is this still a problem? Sorry this issue fell through the cracks

[2020-01-10 13:08] 2opremio commented on #2418
@jacobsin is this still a problem with Flux 1.17.0? What are you trying to do? Can you reproduce this problem through `fluxctl`?

[2020-01-10 13:09] #2439 closed

[2020-01-10 14:09] younesehb commented on #2137
I am using the latest release of the helm operator v1.0.0-rc6 but I am still getting the error `Object 'Kind' is missing in 'null`

`
targetNamespace=app-monitoring resource=fluxcd:helmrelease/prometheus-server helmVersion=v3 err="Object 'Kind' is missing in 'null'"
--
  | ts=2020-01-10T14:02:31.321319173Z caller=annotator.go:104 component=release release=prometheus-server targetNamespace=app-moni

[2020-01-10 14:28] texasbobs commented on #2584
Thanks, @2opremio. I see it was last updated 23 days ago.  What do you feel is the timeline for that PR?

[2020-01-10 14:37] MikaelElkiaer commented on #1353
Found an acceptable workaround, by continuously checking `fluxctl list-images`.

For example (pardon my weak sh-fu):
[code]

[2020-01-10 14:54] 2opremio commented on #2440
Jobs don't play well with Flux since it's stateless by design. Unless you delete the Job from git Flux will continue `kubectl apply`ing them.

The `flux.weave.works/run-once: true` wouldn't really help because Flux doesn't keep any state and could be restarted before the job ends.

We could add something like `flux.weave.works/only-apply-if-missing: true` `flux.weave.works/ignore-if-state: !Comple

[2020-01-10 15:02] SmilingNavern opened #2734 "Image scan updates last download time in Nexus OSS"
**Describe the bug**
Flux updates last download time in docker registry when scanning for image tags.

**To Reproduce**
Steps to reproduce the behaviour:
0. We use flux with nexus oss and docker registry
1. Use flux for some image in docker registry
2. Check that last download time updates after flux scan for tags

**Expected behavior**
I would expect that "list tags" operation doesn't trigger dow

[2020-01-10 15:05] 2opremio commented on #2441
I need to check the code, but yes, I think that's the expected behavior. That said, `fluxctl` should had given you a friendlier message.

[2020-01-10 15:12] hiddeco commented on #2734
Flux does not just list tags,but analyzes the metadata of every tagged image to gather information, which is probably the reason Nexus (OSS) counts it as a download.

Given this fact, it is not a bug on our side. The value you are using for your determination is simply not compatible with how Flux works.

[2020-01-10 15:13] SmilingNavern commented on #2734
@hiddeco hello, thanks for the answer. Maybe you can suggest some workarounds or good way to work with flux and still clean our docker registry

[2020-01-10 15:16] 2opremio commented on #2474
@primeroz Is this still an issue? (Asking in case the merge has been improved for newer versions of Kubernetes/Flux/Stash Backup)

[2020-01-10 15:18] 2opremio commented on #2487
Why call `fluxctl sync` explicitly instead of letting Flux do the sync periodically? If the sync period is too long you can decrease it with the appropiate flags.

[2020-01-10 15:22] hiddeco commented on #2734
@SmilingNavern this completely depends on your release and/or tagging strategy, one thing I can think of is to delete tags older than `x` days or months, but to keep at least `z` tags.

[2020-01-10 15:23] 2opremio commented on #2513
@derrickburns is this still an issue?

[2020-01-10 15:23] primeroz commented on #2474
@2opremio

i had on my backlog to reproduce this with a simple exmaple and update this case , but since my use case that raised this issue in the first place is not a use case anymore i forgot about it

I will look if is still a problem next week and close this case if is not.

thanks!

[2020-01-10 15:24] 2opremio commented on #2533
I believe this was solved in #2732 , let me know if that wasn't the case.

[2020-01-10 15:24] #2533 closed

[2020-01-10 15:27] 2opremio commented on #2536
@smartpcr is this still an issue?

[2020-01-10 15:31] SmilingNavern commented on #2734
@hiddeco yeah, thanks. This looks like a better solution. I think i can close this issue then.

[2020-01-10 15:31] #2734 closed

[2020-01-10 15:36] 2opremio commented on #2538
This isn't an issue anymore

[2020-01-10 15:36] #2538 closed

[2020-01-10 15:49] Docteur-RS commented on #2695
I have been using [Kubefed](https://github.com/kubernetes-sigs/kubefed.git) lately and I really loved the events being reported at the kubernetes level. The events were not logged on the kubefed's pods themselves but instead on each federated ressources that were created.

When I think of it, its similar in how the helm operator works. Maybe the status of each deployments could be added to the eve

[2020-01-10 15:57] 2opremio commented on #2554
I will make sure we exclude `webhook.certmanager.k8s.io` resources by default, and make the excluded resources configurable as per https://github.com/fluxcd/flux/issues/2642

[2020-01-10 15:59] 2opremio commented on #2554
Note that this is a problem with Kubernetes or the configuration of Kubernetes itself, which fails to answer List requests for `webhook.certmanager.k8s.io/v1beta1`

[2020-01-10 16:05] 2opremio commented on #2556
@marchmallow Is this still an issue or can I close this?

[2020-01-10 16:09] 2opremio commented on #2589
I suspect this could have been caused by the same problem fixed in  #2728 . @lgebhardt could you test whether `2opremio/flux:scope-imagepullsecrets-correctly-a802915a` fixes the problem?

[2020-01-10 16:09] 2opremio commented on #2564
I suspect this could have been caused by the same problem fixed by #2728 . @kwontae  could you test whether 2opremio/flux:scope-imagepullsecrets-correctly-a802915a fixes the problem?

[2020-01-10 16:12] stefanprodan commented on #2695
Flux doesn't own the pods not the namespaces so issuing events on those objects is not an option. Kubernetes does event compactation so relying on events for critical info is not the best idea. I don't see any advantages of running `describe` vs `log`.

[2020-01-10 16:15] 2opremio commented on #2568
@antonosmond would it be enough to:
1. Decouple Flux's configuration from Flux itself using a e.g. ConfigMap
2. Have Flux automatically reload when the configuration changes

(1) is already in progress (see https://github.com/fluxcd/flux/pull/2544 , Christmas vacation stalled it though)

You would still need to update Flux's configuration though.

[2020-01-10 16:18] 2opremio commented on #2586
`metrics.k8s.io/v1beta1: the server is currently unable to handle the request` suggests you were suffering from the problem fixed by https://github.com/fluxcd/flux/pull/2606 .

Closing, let me know if this is still an issue with recent versions of Flux.

[2020-01-10 16:18] #2586 closed

[2020-01-10 16:21] 2opremio commented on #2591
No, it should be just that.

Could you try this again with Flux 1.17.0 and see if it's still a problem?

[2020-01-10 16:22] 2opremio commented on #2591
@kallanseto since this doesn't seem to be a problem anymore I am going to close this issue. Please let me know if that isn't the case.

[2020-01-10 16:22] #2591 closed

[2020-01-10 16:24] 2opremio commented on #2616
@runningman84 can you decribe your usecase further? What kind of low power devices are you referring to?

[2020-01-10 16:25] 2opremio commented on #2616
There may be ways to tweak Flux in order to less resource-hungry for your usecase.

[2020-01-10 16:26] 2opremio commented on #2632
Closing due to lack of attention.

[2020-01-10 16:26] #2632 closed

[2020-01-10 16:26] 2opremio commented on #2696
The GitOps Engine will likely provide this feature.

[2020-01-10 16:28] 2opremio commented on #2699
Assigning this to @hiddeco , as the timestamp expert :)

[2020-01-10 16:29] runningman84 commented on #2616
Yes I have some low powered msi cubi n devices. They have CPUs like Intel n4000 and n5000 which are not very fast. I use it to run some internal stuff like home automation and so on. There are not many changes happening so the current flux model is quite brute force.

I think you should be able to specify something like sync at least once a day or if a new git commit appears.... The key point is I

[2020-01-10 16:31] 2opremio commented on #2702
How would you, in detail, expect `app.kubernetes.io/version` to be updated? To what value and exactly when?

[2020-01-10 16:37] 2opremio commented on #2710
@abbi-gaurav It's not clear to me what you would expect Flux to do. Could you please clarify in detail how you would expect Flux to behave?

You outlined a set of steps but didn't indicate what changes from the current behavior. It seems you want Flux to automatically wait for the tests to be done and automatically promote the changes to the production cluster, but I am not sure that's what you me

[2020-01-10 16:39] 2opremio commented on #2711
Flux doesn't currently support automatic updates based on Helm Chart versions (only container image versions). It's a feature requested often, but we are not there yet.

[2020-01-10 16:43] 2opremio commented on #2712
I understand that you would still want Flux to keep syncing during that window, just not updating the workloads automatically.

How about simply running Flux in read-only mode during that Window? If you don't want Flux to deploy anything during the window you can simply stop it (or reduce it's replica number to 0).

How often do maintenance Windows happen?

[2020-01-10 16:46] stefanprodan commented on #2702
As a side note, doing this would not help Flagger at all, as it doesn't rely on labels to detect changes, in fact Flagger removes all labels except for the `app.kubernetes.io/name` when it does a canary promotion.

[2020-01-10 16:52] 2opremio commented on #2713
Flux has a main _mirror_ clone which periodically fetches from the repository pointed to by `--git-url`. This mirror is never removed.

On top of that, Flux creates a working clone from the _mirror_ clone every time it performs an operation (such as automatically updating an image version).  The working clone should be removed as soon as the operation is finished.

I would need to know more detail

[2020-01-10 17:07] 2opremio commented on #2718
Maybe I am missing something, but if the semver is the same, isn't the containing software also the same? Why is the build number relevant for deploying?

This clashes with https://github.com/fluxcd/flux/issues/2729

[2020-01-10 17:13] 2opremio commented on #2616
You can use webhooks and set a looong sync period, see https://github.com/fluxcd/flux-recv

[2020-01-10 17:16] 2opremio commented on #2584
Christmas vacation got on its way. I will retake it next week.

[2020-01-10 17:16] jdfalk commented on #2702
The point is to have the correct versions show in the Kiali versioned app graph. I don't care if Flagger uses it internally, it's useful for DevOps, and management to be able to have this view on a wallboard and can use it to get quick accurate information.

[2020-01-10 17:24] jdfalk commented on #2702
When flux defines the update in the flux-patch.yaml (or whatever storage) it updates the version tag of the image, at that same time, I would expect it to also update the version annotation, if they matched before the update. It should be pretty simple, grab annotation version, compare it to the container image tag, if they are the same then when the container image tag is updated than version tag

[2020-01-10 17:34] 2opremio commented on #2702
Yes, Flux bumps the value of the version annotation. But, to what value? (The same value as the image tag doesn't make sense for pod specs with multiple containers) Should the version be updated one time per container updated? Only if the annotation already exists? How do you deal with versioning conflicts?

The more I think about it, the more I conclude that, unless there is a widespread pattern

[2020-01-10 20:34] marchmallow commented on #2556
I think can be closed. Didn't occur again. Thanks

[2020-01-10 20:45] sureshamk commented on #2033
check out this project  -> https://github.com/sureshamk/flux-ui

<img width="512" alt="Home" src="https://raw.githubusercontent.com/sureshamk/flux-ui/master/docs/screen-shots/Home.png">

---
<img width="512" alt="Home" src="https://raw.githubusercontent.com/sureshamk/flux-ui/master/docs/screen-shots/detail.png">
---
<img width="512" alt="Home" src="https://raw.githubusercontent.com/sureshamk/flux-

[2020-01-10 21:00] gaieges opened #2735 "Unable to list a docker repository if we have a empty string tag"
**Describe the bug**
A docker image repository that contains an empty tag (ie `my.repo.com/app:`) will fail to sync with the image repository with the following messages:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
0. What's your setup?
Azure container registry.  Unsure as to how a image such as `my.repo.com/app:` ever got set but .. here we are.

[code]

1. Push image named as suc

[2020-01-10 21:21] runningman84 commented on #2616
the webhook seems to be a good solution but right now the helm chart does not support it. It would be cool if the flux-recv part would just be an option for the helm chart...

[2020-01-10 22:12] #2556 closed

[2020-01-10 22:13] 2opremio commented on #2033
Nice!!!

On Fri, Jan 10, 2020, 21:45 suresh <notifications@github.com> wrote:

[2020-01-10 22:14] runningman84 commented on #2616
![image](https://user-images.githubusercontent.com/1699128/72189904-635d7380-33fe-11ea-9147-612c5d3f9ca3.png)
As you can see fluxd and helm-operator consume a lot more cpu time than and elasticsearch, prometheus. Elasticsearch stores about 1 million messages a day and prometheus also stores a lot of data using a lot less time...

[2020-01-10 23:07] chainlink commented on #2699
Let me know if there is additional information i should provide. I ended up pulling the root docker container and modifying to remove `"org.label-schema.build-date"` Docker doesn't provide a mechanism to remove labels in downstream images.

[2020-01-11 07:35] aungzy commented on #2554
Thanks @2opremio !

[2020-01-13 08:38] hiddeco commented on #2699
@chainlink thanks for reopening this.

Is my memory from the base image being some CentOS image correct?

[2020-01-13 11:35] tomerleib opened #2737 "Support Git repository authentication using BankVault"
**Describe the feature**
In my organization, we're not storing sensitive tokens inside K8s secrets but instead using Vault for storing it and inject the secret directly into the pod.

**What would the new user story look like?**
Users who already runs Bank Vaults (or Vault) would like to pass the tokens as the environment variables.
For example this project: https://banzaicloud.com/blog/inject-sec

[2020-01-13 11:56] 2opremio commented on #2735
This is by design. Flux is conservative when things go wrong or are not clear (and arguably, an empty tag means something went wrong) to avoid disasters. One could claim Flux should simply ignore the empty tag but there could be situations in which the latest image could have an empty tag by mistake, causing Flux to automatically update the wrong image.

If you are managing the repository, please

[2020-01-13 11:57] 2opremio commented on #2735
Uhm, it turns out you cannot yet delete a tag https://github.com/docker/distribution/issues/1566

If there is no alias for that tag, you could delete the image by digest and the empty tag will go away.

[2020-01-13 12:23] 2opremio commented on #2737
From what I understood from your description you plan to use BankVault secrets to store the the git repository HTTPS credentials which, in turn require grabbing those secrets and placing them in Flux's `--git-url` argument.

The does not really lay in Flux itself, but in finding a way for BankVault to do that.

Also ... this is probably not a great idea either way, because you would wind up with c

[2020-01-13 13:12] bonifaido commented on #2737
Bank-Vaults mutates the Pods created from the controller, so the controllers aren't mutated at runtime.

[2020-01-13 13:23] tomerleib commented on #2737
As for using SSH key for authentication, not everything supports SSH for RW.
Bitbucket supports it only when using the Server edition, while Github supports RW entirely.
So I don't want to be restricted to SSH, if I must, I will create a token for Flux, but still will prefer to store it inside Vault instead of Kubernetes Secrets.

[2020-01-13 13:59] 2opremio commented on #2672
Another failure https://circleci.com/gh/fluxcd/flux/9462

[2020-01-13 14:10] Docteur-RS commented on #2695
Ok lets forget about events IN the events section then.
=> Why not propagate them inside a `status` section inside the flux pod ?

We can all read events from the logs but there is quite a lot of things going on in there...
Am I the only one getting thousands of lines that are not talking about the current status of gitops ? [[flux logs snipet example]](https://gist.github.com/Docteur-RS/b8fd201b0

[2020-01-13 14:25] hiddeco commented on #2672
Same failure, different build: https://circleci.com/gh/fluxcd/flux/9465

[2020-01-13 14:36] Docteur-RS commented on #2695
Examples of valid `status` I could think of :

**Field one:**
_Empty_ => repo has not being cloned
_cloned_ => repo has being cloned but not synced yet
_Synced_ => repo has been synced
_cloneError_ => cloning repo has failed
_SyncedError_ => Sync of files has failed

A **second field** would have the current hash commit.
A **third field** would store any potential error messages. Especially for th

[2020-01-13 16:59] gaieges commented on #2735
Makes sense - leads me to ask a related q - what is the best way to get notifications around this? ie slack pings?

----
Been trying to delete the empty tag, ran into those issues you mention.  Will keep looking into it.

[2020-01-13 17:40] 2opremio commented on #2737
Have you given a try to the [Git credential store](https://git-scm.com/docs/git-credential-store/2.4.4)?

You could use BankVault to decrypt the credentials into file `/some/path/git/credentials` and set the `XDG_CONFIG_HOME` environment variable to `/some/path`

[2020-01-13 17:46] 2opremio commented on #2737
You will also need to change the git config file of the root user to incorporate:

[code]

You can use a volume for that.

[2020-01-13 18:10] 2opremio commented on #2723
@bootc The fix for this issue has been released with 1.17.1

[2020-01-14 13:36] alastairs commented on #1071
[As requested by @2opremio on Slack](https://cloud-native.slack.com/archives/CLAJ40HV3/p1578479552010200?thread_ts=1576769332.027700&cid=CLAJ40HV3):

[2020-01-14 23:15] clearclaw commented on #2554
ETA on this?

[2020-01-15 13:16] richardcase commented on #2696
Hopefully. But until that happens it would be good to add hooks

[2020-01-15 17:04] 2opremio commented on #2554
I am going to work on this next, can't promise a specific date when it will be released.

[2020-01-16 08:55] #2554 closed

[2020-01-16 08:55] #2642 closed

[2020-01-16 12:31] 2opremio commented on #1676
We now support SOPS (thanks @PaulFarver ) and `git-secret` (thanks @arsiesys ), I think this can be closed. Please create a separate ticket if you still think we should support other systems like `git-crypt`.

[2020-01-16 12:31] #1676 closed

[2020-01-16 13:55] tomjohnburton commented on #1857
Hi all, I am also hitting this problem
[code]
What is the general suggestion for a fix in the meantime?

[2020-01-16 14:22] 2opremio commented on #1857
Have you tried increasing `--sync-timeout` ?

[2020-01-16 14:29] tomjohnburton commented on #1857
Sync timeout is at `5m0s` at the moment. Should I go even higher?

[2020-01-16 14:33] 2opremio commented on #1857
Maybe .... It would be good to know where and why it's getting stuck though.

[2020-01-16 14:33] tomjohnburton commented on #1857
Everytime I try add the `--timeout` flag to the `patch.yaml` it crashes. Is this command valid?

[2020-01-16 14:33] 2opremio commented on #1857
I am not sure what you mean

[2020-01-16 14:35] tomjohnburton commented on #1857
[code]

[2020-01-16 14:48] hiddeco commented on #1857
@tomjohnburton the flag you are looking for is `--sync-timeout`, see also: https://docs.fluxcd.io/en/1.17.1/references/daemon.html

[2020-01-16 14:57] tomjohnburton commented on #1857
Okay I've put a 10minute timeout,

[2020-01-16 15:15] tomjohnburton commented on #1857
AMAZING, that worked. Thanks all

[2020-01-16 15:53] 2opremio commented on #2411
`--disable-image-scan` was just added in #2745 , I will update the FAQ

[2020-01-16 17:15] 2opremio commented on #2441
I can confirm that's the expected behavior:

https://github.com/fluxcd/flux/blob/992f6b3caf8a86e26c1ae37d27ffa54ba29bc749/pkg/update/release_image.go#L233-L239

I will review the docs to try to make them less confusing

[2020-01-16 19:15] #2411 closed

[2020-01-16 19:31] bricef opened #2755 "Support JSON manifest files"
**Describe the bug**
When deciding what files to pass to kubectl, flux ignores `.json` files in its target repository/branch/path.

**To Reproduce**
Set up a cluster with flux. Add a valid namespace manifest file such as the one below to the target git repo/branch/path and name it `*.json`

[code]

**Expected behavior**
Flux should pick up this file and apply it to the cluster under management.

*

[2020-01-16 19:33] 2opremio commented on #2755
Flux doesn't support json, just yaml files.

[2020-01-16 19:36] bricef commented on #2755
@2opremio I noticed :) Is there any underlying reason why that is?

[2020-01-16 19:37] stefanprodan commented on #2755
@bricef Flux needs to parse and modify Kubernetes manifests, for this reason only YAML is supported as the patching is done with a library specialised in YAML only.
Ref:
- https://github.com/fluxcd/flux/blob/master/pkg/cluster/kubernetes/sync.go#L592
- https://github.com/squaremo/kubeyaml

[2020-01-16 19:39] 2opremio commented on #2755
Ah, I mentioned it since you opened a bug and not a feature request.

Legacy reasons. There isn't explicit community demand either (or they silently accept the status quo). It comes up from time to time but not enough to justify the effort give the constrained manpower.

[2020-01-16 19:44] 2opremio commented on #2755
Well, we maintain `kubeyaml` because we want to preserve comments see #2660 . JSON doesn't have that _problem_.

I guess that's the reason why the community prefers YAMLs too.

[2020-01-16 19:54] bricef commented on #2755
@stefanprodan JSON is valid YAML, and can be parsed as such since YAML is a JSON superset. Kubeyaml should work with json files without issue. In fact, I just tried the underlying `ruamel.yaml` library with JSON and it works fine:

[code]

This is a false limitation and should be fixed :)

[2020-01-16 20:44] 2opremio commented on #2755
Should is subjective, but I will happily accept a PR.

[2020-01-16 23:30] kwontae commented on #1709
The flux-git-deploy secret was accidentally deleted and we came to this issue when we ran the `kubectl apply -k ./install/` again
[code]
I see that flux-git-deploy is created by kustomize and is there when i use kubectl get secrets -n flux-system
however I get the error
[code]

[2020-01-17 00:00] 2opremio commented on #1709
Please create a separate issue for that

[2020-01-17 00:50] kwontae opened #2757 "secrets flux-git-deploy not found"
**Describe the bug**
A clear and concise description of what the bug is.
The flux-git-deploy secret was accidentally deleted and when I run `kubectl apply -k ./install/`
Secret gets created but flux cannot find the secret
**To Reproduce**
Steps to reproduce the behaviour:
After the flux is deployed using kustomize,

delete flux deployment and flux-git-deploy secret.

Run the `kubectl apply -k ./in

[2020-01-17 00:51] kwontae commented on #1709
@2opremio  Created: https://github.com/fluxcd/flux/issues/2757

[2020-01-17 00:57] kwontae commented on #2757
I realized there was a space between `--k8s-secret-name= flux-git-deploy`. I think an empty space was inserted accidentally (Didn't realize I was on a wrong tab or something). I would still expect it to remove spaces tho.

[2020-01-17 00:57] #2757 closed

[2020-01-17 10:23] goober opened #2758 "Add possibility to specify sort order for when a kind is applied"
**Describe the feature**
Today flux applies the manifest in the order according to:
https://github.com/fluxcd/flux/blob/16b85905da6285736735d1e3b29747726970ae68/pkg/cluster/kubernetes/sync.go#L470-L492

Namespaces have the highest priority and are first applied during a sync. However, OpenShift has a higher level definition of a namespace called a [Project](https://docs.openshift.com/container-pla

[2020-01-17 16:15] kammous commented on #2712
Out of maintenance hours, Flux must not sync with git repository or Docker registry to avoid disturbing running workloads. It is like if Flux is in freeze mode or even stopped.

Stopping Flux by reducing its replica to 0 can be a suitable workaround but it requires a manual intervention or an external process with its RBAC config.
It would great to have maintenance hours as a build-in feature of F

[2020-01-17 16:47] sa-spag opened #2759 "Configure Flux probes through the chart's values"
Hey there 👋

[As discussed on Slack](https://cloud-native.slack.com/archives/CLAJ40HV3/p1579275380025500), I would like to override the default readiness probe for Flux deployment. To do so, I suggest we make probes configurable through the chart.

[2020-01-17 17:57] alastairs commented on #2703
Thank you @stefanprodan and @2opremio for your replies. I suspect it is the YAML parsing issue, good spot. I'm not able to verify this fix, unfortunately, so please assume this is the correct resolution 😄

[2020-01-17 21:13] clearclaw commented on #2554
Thanks.  We use cert-manager heavily and this is rather balling things up while I'm trying to sell the team on Flux, so a quick point release would be appreciated.

[2020-01-18 00:11] kwontae commented on #2564
hey @2opremio! I don't know why github decided to send me a notification email about this now... Is your fix included in version 1.17.0? That's the current version i'm running for flux.

[2020-01-18 09:50] GlorifiedTypist opened #2761 "Helm chart sops support"
Helm chart does not provide option to enable sops within values file. This would provide the expected user experience.

**Describe the feature**
Add sops.enabled in values.yaml and update deployment.yaml template.

**Expected behavior**
Deploy flux with sops enabled via helm.

[2020-01-18 10:57] #2761 closed

[2020-01-18 19:53] cep21 opened #2763 "Docs out of date with respect to deletion"
Docs at https://docs.fluxcd.io/projects/helm-operator/en/latest/faq.html

*I’ve deleted a HelmRelease file from Git. Why is the Helm release still running on my cluster?*

Point to https://github.com/fluxcd/flux/issues/738

Which claims fixed.

Docs should be updated to be correct.

[2020-01-19 12:56] dinosk commented on #2657
Hi @2opremio, I would like to work on this issue.
I can reproduce it with a flux pod that fails to clone a repository with this error:
[code]

and then using fluxctl to sync:
[code]

I see the error is passed in https://github.com/fluxcd/flux/blob/master/pkg/daemon/daemon.go#L627 so my idea would be to extend the v6.GitConfig response in https://github.com/fluxcd/flux/blob/master/pkg/daemon/daemon

[2020-01-20 13:28] runningman84 opened #2768 "fluxctl default namespace"
**Describe the bug**

It looks like the new default namespace is fluxcd unfortunately fluxctl still looks for flux

**To Reproduce**

Steps to reproduce the behaviour:

[code]

**Expected behavior**

fluxctl should assume ns fluxcd

**Additional context**

- Flux version: 1.17.1
- Kubernetes version: 1.14
- Git provider: github
- Container registry provider: docker hub

[2020-01-20 13:32] varac commented on #2170
@marshallford I'm also in desperate need to chart ordering, but CRDs can now get installed directly with helm3, see the [cert-manager CRD installation with helm3](https://github.com/jetstack/cert-manager/issues/2256#issuecomment-560257192) issue.

[2020-01-20 14:08] 2opremio commented on #2768
How did you install Flux? AFAICT we don't use `fluxcd`as the namespace.

[2020-01-20 14:08] chainlink commented on #2699
Yep! https://hub.docker.com/_/centos they actually an (unaddressed) issue for it as well https://github.com/CentOS/sig-cloud-instance-images/issues/153

[2020-01-20 14:40] hiddeco commented on #2699
@chainlink thanks for getting back to me, I have put this on my backlog for this week and should be getting back to you soon.

[2020-01-20 15:33] marshallford commented on #2170
@varac, Thanks for the tip. To answer my own question above regarding the pair of Istio charts: I was able to install Istio with Flux by relying on the [Istio Operator API](https://istio.io/blog/2019/introducing-istio-operator/#the-operator-api).

[2020-01-20 18:14] stefanprodan commented on #2554
@clearclaw having Flux ignore the webhook resource doesn't solve the underlying issue with your cluster. My guess is that either your cluster etcd is corrupted or you need to create a firewall rule see https://github.com/jetstack/cert-manager/issues/2109

[2020-01-20 18:25] cep21 opened #2769 "Update docs for helm v3"
**Describe the bug**

Instructions on https://github.com/fluxcd/flux/tree/master/chart/flux are for helm v2 and not helm v3.

**To Reproduce**

Follow steps on https://github.com/fluxcd/flux/tree/master/chart/flux

[code]

Get error message

[code]

**Expected behavior**

Commands should work on latest version of helm, or have separate commands per version of helm.

[2020-01-20 18:51] cep21 commented on #2769
Another error, probably from helm version v3
[code]
Also says

[code]

[2020-01-20 18:54] stefanprodan commented on #2769
Helm v3 does not create namespaces, you need to do `kubectl create ns flux` before running hem install. You can find the Helm v3 install commands for both Flux and Helm Operator here https://github.com/fluxcd/helm-operator-get-started#install-flux

[2020-01-20 19:04] runningman84 commented on #2768
I think I have mistaken the new helm org with the namespace.

[2020-01-20 19:04] #2768 closed

[2020-01-20 19:16] runningman84 commented on #2768
Hmm maybe I used the as a reference
https://github.com/alexellis/civo-fluxcd-expressjs/blob/master/README.md

[2020-01-20 19:20] stefanprodan commented on #2768
@runningman84 the civo repos uses `fluxctl sync --k8s-fwd-ns fluxcd` and that works just fine.

[2020-01-20 19:26] stefanprodan commented on #2768
@2opremio we use fluxcd in many places, all workshops that I made use it, same with Helm Operator chart docs and eksctl profiles. When deploying both Flux and Helm operator I think `fluxcd` as a namespace is more suitable as it reflects the org where both projects are.

[2020-01-20 19:28] cep21 commented on #2769
The documentation uses the namespace `flux` in some places and `fluxcd` in others.  Would it be helpful to use a consistent namespace in the documentation?

[2020-01-20 19:29] stefanprodan commented on #2769
Can you point me to where is fluxcd used in https://docs.fluxcd.io/en/1.17.1/ ?

[2020-01-20 19:41] #2769 closed

[2020-01-20 19:50] runningman84 opened #2771 "Automation interval not honored"
**Describe the bug**

With an automation interval of 5 minutes I would expect flux to do the polling of new images every 5 minutes. According to the logs it is polling them every minute.

**To Reproduce**

This is my flux config
[code]

**Expected behavior**

The polling should happen every 5 minutes.

**Logs**
[code]
**Additional context**

- Flux version: 1.17.0
- Kubernetes version: 1.17
- Git

[2020-01-20 20:22] cep21 commented on #2769
@stefanprodan https://github.com/fluxcd/helm-operator-get-started uses the namespace
[code]

[2020-01-20 21:44] 2opremio commented on #2771
That indeed seems like a bug. I will look into it

[2020-01-21 13:27] GlorifiedTypist opened #2774 "Helm chart does not allow extending labels with custom values"
There is no ability to assign custom podLabels to a deployment. This makes to difficult do label selection when a specific label key is expected.

**Describe the feature**
Add podLabels to values.yaml and update deployment.yaml template.

**Expected behavior**
Extend labels for various selection use cases.

[2020-01-21 21:50] MrBasset commented on #2711
Hi, sorry for slowly getting back to this. Is there a ticket tracking this feature/design, or any detail of what might be required?

My go skills aren't that great, but this is something I may be able to take a look at in a few weeks if I can get my employer to agree (as it's needed on our project).

[2020-01-21 22:02] hiddeco commented on #2711
This is being tracked in https://github.com/fluxcd/helm-operator/issues/12, although what is being described there does not precisely match what you are describing here.

The state of things is that it is currently being blocked because we do not have a proper place to implement all of this, [more about this here](https://github.com/fluxcd/helm-operator/issues/12#issuecomment-573901600).

For the

[2020-01-21 22:06] dayglojesus commented on #2655
@2opremio I can confirm @gecube 's assertion -- my testing of `1.17.1` show no PAT leak. Thanks.

[2020-01-21 22:22] kminehart commented on #2020
I'm having this issue currently.

I can see the new image is available:

[code]

Flux adds it to its release queue:

[code]

The workload for chart-image is set to `automated`.

[code]

And if I manually trigger the deployment:

[code]

It applies the commits:

![image](https://user-images.githubusercontent.com/5140827/72848227-c30f1680-3c69-11ea-8c09-bc401f01482d.png)

Is there anything I missed?

[2020-01-22 05:32] aliartiza75 commented on #2416
@2opremio i haven't tested the scenario again, once done i will let you know.

[2020-01-22 09:47] stefanprodan opened #2779 "Make pkg/install a sub-module"
Right now using the `install` package as a library in other projects like [eksctl](https://github.com/weaveworks/eksctl/blob/master/go.mod) means adding Flux as a dependency and that pulls Kubernetes packages, Docker, Helm etc. It would be great if `install` would be a separate go module so that it can be used without having to pull all Flux dependencies.

[2020-01-22 23:37] kwontae commented on #2157
Does it also have `rankOfKind` for Istio installations as well?

[2020-01-23 01:14] #2246 closed

[2020-01-23 01:14] #2416 closed

[2020-01-23 01:14] 2opremio commented on #2416
Thanks @aliartiza75 . Please comment here once you do so.

[2020-01-23 01:14] #2418 closed

[2020-01-23 01:15] #2536 closed

[2020-01-23 01:16] 2opremio commented on #2564
@kwontae the fix is in 1.17.1

[2020-01-23 01:16] #2589 closed

[2020-01-23 02:16] demisx commented on #2545
I would love to see this happen as well. Our use case is very similar. We only want Flux to scan our private GitLab registry where we publish app images and ignore everything else.

[2020-01-23 02:41] demisx opened #2780 "Flux queries and lists excluded registry images"
**Describe the bug**

I have instructed Flux to exclude these images during Helm install `--set registry.excludeImage="docker.io/*\,index.docker.io/*\,quay.io/*\,k8s.gcr.io/*"`. However, the flux log still shows flux trying to access excluded images:

[code]

and `fluxctl list-images --k8s-fwd-ns=flux` lists a bunch included the ones that I'd expect to be excluded and may with "(untagged) image da

[2020-01-23 09:57] stefanfritsch commented on #2718
Sorry this reply took so long.

The problem is that we're running security updates on the remaining software in the image and small changes like that. So R `3.6.2.20200120` might not be identical to `3.6.2.20200113` because e.g. the `libssl` changed.

#2729 asked for a different annotation, `strict-semver`, so it would not conflict with this.

Another option would be to make semver version specs m

[2020-01-23 10:56] 2opremio commented on #2780
This error is a cached by memcached (i.e. it's not coming live from the registry). We save the latest error from the registry into memcached, so that we can give some context as to why the cached entry was missed.

https://github.com/fluxcd/flux/blob/6a0e353061f68ba902161af3b39b4e6557c23646/pkg/registry/cache/registry.go#L92-L94

That is confusing (even for me, I will see if I can change that to i

[2020-01-23 11:08] 2opremio commented on #1401
For the record, I spend quite some time debugging why there is a parsing error (which is really confusing).

I thought it was a problem with Flux, but it turns it comes from the registry client which expect an json error in the body of the http response.

[2020-01-23 14:48] demisx commented on #2780
@2opremio Thank you for your continuous help and support. You guys are excellent! The additional error I see is usually flooding my Flux log at the beginning right after a fresh helm install and then it goes away. I believe you said it was coming from the warmer. A day later, the Flux log seems nice and calm now only reporting relevant sync activity (git, cluster, our image registry).

[code]

[2020-01-24 01:57] hiddeco commented on #2699
@chainlink this was pretty hard to trace down but the devil is in the details.

I think `hiddeco/flux:bug-timestamp-label-dd4b80cf` plus a memcached cache clear should resolve this for you.

[2020-01-24 14:58] adrientardieu commented on #1395
I support the idea of giving clearer explanations in addition or in place of `Error: no changes made in repo`.

I got this error when I tried releasing again the same version (releasing the currently running version).

A better message could be `Error: this version is already running. No changes made in repo`

![Screenshot from 2020-01-24 11-42-23](https://user-images.githubusercontent.com/9865505

[2020-01-24 16:15] anekdoti opened #2786 "Unexpected interaction between helm-operator and the flink-operator by Lyft"
**Describe the bug**

The flink-operator by Lyft [https://github.com/lyft/flinkk8soperator](url) controls Apache Flink job clusters by means of FlinkApplication custom resources.
When such a custom resource is directly applied to a Kubernetes cluster by synching a git repository with FluxCD (variant 1), it is processed correctly by the flink-operator: the Flink job cluster is deployed and goes to

[2020-01-24 19:42] dmourao opened #2787 "[Question] Combine kustomize and helm"
Currently, i'm implementing a Gitops flow using Flux on top of an existing git repository that have some deployments that are done using kustomize and other that uses Helm charts.

After reading the doc, it is possible to use Helm (HelmRelease) and kustomize, however i cannot understand if it possible to have **one fluxcd daemon** that handles kustomize (specifying a .flux.yaml) and helm charts.
I

[2020-01-24 22:03] hiddeco commented on #2787
It is perfectly fine to have multiple Flux daemons syncing from the same repository (and even the same branch) as long as they both use a different tag, the tag is configurable using the `--git-label` flag.

[2020-01-24 22:40] dmourao commented on #2787
Thanks @hiddeco !

I totally missed that. With some re-organization in my gitops repository is pretty easy to have that.

[2020-01-24 22:40] #2787 closed

[2020-01-24 23:52] hiddeco commented on #2704
Finally had some time to dive into this @jstevans, thanks for waiting.

[I read a good long read about this topic](https://mikegerwitz.com/2012/05/a-git-horror-story-repository-integrity-with-signed-commits), where your *cheap*  proposal is [also described](https://mikegerwitz.com/2012/05/a-git-horror-story-repository-integrity-with-signed-commits#script-merge).

I think this implementation would

[2020-01-25 00:10] jstevans commented on #2704
Thanks for your attention, @hiddeco! In my case, either option would work. I'm not aware of a typical git scenario that's only supported by the *better* option -- perhaps it would have been better if I'd called it the *general* option. :)

I think I agree that I prefer the *cheaper* option. The only case I can think for the *better* option is that, when hand-crafting commit objects, it would be ni

[2020-01-25 00:26] hiddeco commented on #2704
In that case do not bother but just pick the mode flag, this gives someone else the ability to add an additional mode if they deem it necessary for their use-case (without us ending up with a thousand boolean flags), and it keeps us free (for now) from complexity.

[2020-01-25 03:32] groodt commented on #2713
We've run out of space again and had to restart flux. After running for approximately 24h, this is what we see:

[code]

exec into pod:
[code]

Logs: I'll email you to your personal email due to the verbosity and potentially sensitive nature, but I don't see any indications of errors in the logs.

[2020-01-25 15:36] 2opremio commented on #2780
I don't think that's a cached error.

What is happening is that you get rate limited until the cache gets filled up. That is perfectly normal, except you seem to be excluding `index.docker.io` explicitly as per:

Would you mind sharing the Flux Deployment running in the cluster? (as created by Helm). Also, the beginning of the Flux logs would be useful. Please redact anything which could be sensit

[2020-01-25 15:39] #2015 closed

[2020-01-25 15:39] 2opremio commented on #867
I think the error is way more helpful now.

[2020-01-25 15:39] #867 closed

[2020-01-25 15:48] 2opremio commented on #874
Related https://github.com/fluxcd/flux/issues/2657

[2020-01-25 15:56] 2opremio commented on #1116
Related #2657

[2020-01-25 15:57] 2opremio commented on #1295
@ahmadiq @captncraig Is this still a problem with the latest version of the Helm Operator?

[2020-01-25 16:00] 2opremio commented on #1639
So, the problem was caused by registries not being reachable and (probably) the registry client leaking sockets (probably HTTP response bodies). Has anyone seen this problem recently?

@indrekh Would you be so kind of re-testing this? (assuming you are still using Flux).

[2020-01-25 16:00] 2opremio commented on #1639
@squaremo do you recall what happened with this?

[2020-01-25 22:32] pavel-kurnosov commented on #1726
I am trying to connect helm operator to azure acr and receive the same issue. I was following official docs, but it is doesn't work. Is there any way to better debug issue to see why am I receiving it?

[2020-01-25 23:02] groodt commented on #2713
Update after ~19h.

Same pod.
[code]

Exec into Pod:
[code]

So far, it appears nothing has leaked in the last 19h, while there have also been no automated updates to the cluster.

Next time, I'll run a test with a trivial change or addition of a resource to kick flux into action to see the impact on /tmp.

[2020-01-25 23:05] #2774 closed

[2020-01-26 20:51] #2779 closed

[2020-01-26 23:49] groodt commented on #2713
~24h since previous check. Some evidence of leakage. There have been no automated updates to resources by flux.

Same pod.
[code]

Exec into Pod:
[code]

`/tmp/flux-working575359694` is new since the previous listing.

I'm now going to have flux create a namespace resource to see what happens to the listings and available space.

[2020-01-27 00:12] groodt commented on #2713
After flux applied a resource change (created a namespace) the contents of /tmp is as follows:

[code]

This time `flux-working076747204` appears to be a new leak. I've also captured the logs.

[2020-01-27 00:27] groodt commented on #2713
Certainly appears that whenever flux makes a change, there are directories leaking.

[code]

This time `/tmp/flux-working941249421` and `/tmp/tmp/flux-working063421434` are new leaks. There were 2 changes applied by flux automatically and 2 newly leaked directories. Seems too much of a coincidence to be unrelated.

[2020-01-27 00:59] groodt commented on #2713
I've now run this on the pod to delete directories older than 5h:
`find /tmp -type d -name 'flux-working*' -maxdepth 1 -mmin +300 -exec rm -rf {} \;`

The listing is now:
[code]

I will keep an eye on this the next few days for further leaks and look into ways of automatically cleaning up old files.

[2020-01-27 01:05] 2opremio commented on #2713
Great. I will also take a look at the logs you sent me and I will go through the working-directory code looking for leaks.

If you could give further information about the automatic updates which you think caused the last two leaks (e.g. logs and nature of them) that would be helpful

[2020-01-27 03:57] 2opremio commented on #2713
I think I may have fixed this in https://github.com/fluxcd/flux/pull/2788

@groodt would you mind trying out container image `2opremio/flux:more-robust-clone-cleanup-3c3c0c9d` to confirm?

[2020-01-27 07:09] groodt commented on #2713
Amazing! Thanks!

Trying it out now and will keep an eye on it over the next few days.

[code]

[2020-01-27 09:01] cstaud commented on #2718
For me both solutions would do the job.
Just to mention: The [documentation](https://docs.fluxcd.io/en/latest/references/fluxctl.html#semver) is misleading, as this behavior does not align to https://semver.org. Maybe some clarification could save others time...

[2020-01-27 10:02] hiddeco commented on #1726
@pavel-kurnosov what version of Helm are you using, what are the configured Helm operator arguments, and where did you mount the file?

[2020-01-27 11:19] pavel-kurnosov commented on #1726
@hiddeco Just right now I found the problem.
I did not specify an argument to help-operator with location to my repositories list:
- helm-repository-import=v3:/var/fluxd/helm/repository/repositories.yaml
I think tutorial about using helm-operator need to be updated. Because it is saying how to use and add custom repositories, but not saying that this need to be specified manually.

[2020-01-27 11:54] #2699 closed

[2020-01-27 13:28] 2opremio commented on #2672
another failure from Kind: https://circleci.com/gh/fluxcd/flux/9822

[2020-01-27 13:50] 2opremio commented on #2672
I created an upstream issue for this at https://github.com/kubernetes-sigs/kind/issues/1288

[2020-01-27 14:14] 2opremio commented on #2713
Reopening until I get a confirmation from @groodt that we fixed the problem

[2020-01-27 15:42] squaremo opened #2790 "Reformulate `--registry-scanning`"
The flag `--registry-scanning` is well-motivated, but can be refined further.

 1. It should be `--disable-registry-scanning` (or `--registry-disable-scanning`)

In general, boolean flags that default to `true` should be used sparingly if at all. Such a flag has to be given a value to have an effect, which breaks the expectation that a boolean flag is provided without a value. (And there are other

[2020-01-27 15:47] 2opremio commented on #2790
No strong opinions on (1)

About (2), I am actually with you but @stefanprodan pushed for that arguing user expectations (and he may be right), so I will let you two sort that one out :)

[2020-01-27 15:50] stefanprodan commented on #2790
It's the other way around, `git-readonly=true` implies `registry-scanning=false`
https://github.com/fluxcd/flux/blob/master/cmd/fluxd/main.go#L280

[2020-01-27 16:02] squaremo commented on #2790
https://github.com/fluxcd/flux/blob/master/cmd/fluxd/main.go#L154

[2020-01-27 16:08] stefanprodan commented on #2790
Ok so we need to reformulate that to `git-readonly=true implies registry-scanning=false`

[2020-01-27 16:16] squaremo commented on #2790
I'm not sure I agree with the "usage implication" running the other way, either: it is possible you might want to be able to query for the image metadata, but not run automation.

From the point of view of "what's the easiest way to access the common modes of use", roughly we have these modes of use:

 1. full featured with automation (i.e., don't disable anything)
 2. just sync from git, don't tr

[2020-01-27 16:37] 2opremio commented on #2790
True, the code does the right thing though

[2020-01-27 16:41] demisx commented on #2780
@2opremio Not sure if this is what you are asking for, but this is how I initially deploy Flux to the cluster. Please note I've set `registry.excludeImage` to the images that I saw rate limit exceeded for and thought should be filtered out, but I am not clear after reading all the docs if I even need to do so or whether I should remove this value and let it just run with default. Please advise:

[

[2020-01-27 16:43] squaremo commented on #2790
Yes, there is the different but also serious problem of the argument not behaving as the usage message say it does :-/

[2020-01-27 16:55] 2opremio commented on #2790
Of course, I will fix it in one way or another based on what's decided here.

[2020-01-27 16:57] squaremo commented on #2790
@stefanprodan Do you buy the argument in terms of modes of use, made above?

[2020-01-27 17:58] bheesham commented on #2713
I believe I may be seeing a similar thing. This pod has been running for a while:

[code]

Each of the working copies is ~144M.

Once this happens Flux fails to apply any configs, logging the following quite often:

[code]

Image: docker.io/fluxcd/flux:1.17.0

[2020-01-27 17:59] stefanprodan commented on #2790
People that I've talked to on Slack and elsewhere wanted the readonly mode to allow them to run Flux stand-alone without memcached. I don't see why would someone enable readonly mode and have a need for Flux to scan the registries. While your point is valid, I've never seen a user asking for readonly without asking how to disable registry scanning also. As for Weave Cloud, I don't think we allow u

[2020-01-27 18:01] stefanprodan commented on #2713
@bheesham have you tried `2opremio/flux:more-robust-clone-cleanup-3c3c0c9d`?

[2020-01-27 18:05] bheesham commented on #2713
@stefanprodan I have not. I'll try it out on our daily environments and report back.

[2020-01-27 18:27] chainlink commented on #2699
Thanks for tracking this down for me!

[2020-01-27 21:01] cep21 commented on #2768
I filed https://github.com/fluxcd/flux/issues/2769 recently where `namespaces "flux" not found`.

It would be great if there was consistency in the docs between using fluxcd and flux as a namespace.  I'm switching between the different repositories trying to learn everything I can and the inconsistent namespace makes it difficult to copy/paste commands.

[2020-01-27 21:02] cep21 commented on #2769
This relates to the linked issue (above).  It would be great if the documentation for all the github.com/fluxcd repositories (and their CLIs) were consistent about which namespace to use.

[2020-01-27 21:16] 2opremio commented on #2780
@demisx can you show me the output of `kubectl --namespace=flux -o yaml get deployment` ? (gain, please redact whatever you think is needed)

[2020-01-27 21:17] 2opremio commented on #2790
No strong opinions on my side. @squaremo make a call and I will make adjustments one way or another :)

[2020-01-27 21:38] hiddeco commented on #2790
Based on messages I have received from the community I have to side with @stefanprodan, but I'll leave it up to you two to make the final call.

[2020-01-27 21:45] groodt commented on #2713
@2opremio Thanks so much.

I believe the problem we've been seeing has been fixed. I've tested the `2opremio/flux:more-robust-clone-cleanup-3c3c0c9d` image overnight (~14h) and saw no leaks.

I then had flux make 2 Kubernetes resource changes (adding a namespace and then removing a namespace, not in the same commit) and while watching both changes apply, I saw the `/tmp/flux-working*` directories

[2020-01-27 23:02] 2opremio commented on #2713
Fantastic! Thanks _you_ @groodt for your persistence!

[2020-01-27 23:19] 2opremio commented on #2737
@tomerleib did you try the approach I suggested?

[2020-01-27 23:25] 2opremio opened #2792 "Provide Grafana Dashboard with Flux Prometheus metrics"
Users have been requesting a Grafana dashboard for quite a while (see https://github.com/fluxcd/flux/issues/385 ).

There is an unofficial (outdated) dashboard at https://grafana.com/grafana/dashboards/10475 but maybe we should supply an official one.

Further information about metrics https://docs.fluxcd.io/en/1.17.1/references/monitoring.html

[2020-01-27 23:26] 2opremio commented on #385
This issue is closed. Let's move the discussion to  #2792

[2020-01-27 23:33] 2opremio commented on #2792
To keep the dashboards up to date along with new metrics we should probably use https://github.com/weaveworks/grafanalib or https://github.com/jkcfg/grafana

[2020-01-27 23:41] demisx commented on #2780
Sure. Here it is:

[code]

[2020-01-27 23:44] 2opremio commented on #2780
Great, thanks.

I was after `--registry-exclude-image=docker.io/*,index.docker.io/*,quay.io/*,k8s.gcr.io/*` which is correct.

I need to look into this more deeply.

Did you try cleaning/restarting memcached? Did the errors from those registries go away after that?

[2020-01-27 23:46] 2opremio commented on #2780
(the logs you sent don't show any warmer errors)

[2020-01-27 23:52] demisx commented on #2780
NP. Honestly, I've purged and reinstalled Flux a dozen of times already. I believe memcached gets deleted during that process. I've also reinstalled once today and I did not see any errors. Appears to be fine. I'll let you know if they are back for some reason.

[2020-01-28 00:25] 2opremio commented on #2780
Alright, closing for now. Please add a comment if you get errors again.

[2020-01-28 00:25] #2780 closed

[2020-01-28 01:14] 2opremio commented on #2718
Sorry, but I remain unconvinced. I think that `semver` should be ... just semver.

I don't think we should abuse what semantic versioning is (and, to be clear, https://github.com/fluxcd/flux/issues/2729 is more a bug than anything else, the implementation we use should had followed the `semver` spec).

Maybe you don't see it the same way, but in my view if what's shipped in the container image cha

[2020-01-28 01:40] bheesham commented on #2713
Similar results here with the image you provided (though only have data for about 2 hours).

Thank you!

[2020-01-28 07:30] ricoberger opened #2793 "Export image data as Prometheus metrics"
**Describe the feature**

Flux already handles automatic updates of new version very nice. For some third party images which are running in a cluster it could be possible to disable automation. By default Flux also checks these images for new version and expose the data via the `/api/flux/v6/images` endpoint.

It would be nice to also expose these data as Prometheus metrics, so a user can create n

[2020-01-28 10:54] cloudpea opened #2794 "Ability to disable automated git syncing"
**Describe the bug**

Is it possible to disable automated git syncing all together within Flux so that only manual sync via fluxctl sync command will update cluster configuration?

This would be useful in our production environments as we want to only deploy new configuration via a DevOps pipeline which uses fluxctl.

**Expected behavior**

Automated syncing of the git repository is disabled and o

[2020-01-28 11:06] squaremo opened #2795 "Rationalise usage messages between `fluxd` and `fluxctl`"
`fluxd` has (mostly?) uncapitalised flag help messages, and `fluxctl` subcommands have mostly capitalised help messages. I pick capitalised!

/cc @2opremio

[2020-01-28 13:46] stefanprodan commented on #2794
You can set the sync interval to one year with: `--sync-interval=525600m` and `--git-poll-interval=525600m`

[2020-01-28 14:18] squaremo commented on #2794
Be ware that any kind of update done through the API (e.g., using fluxctl lock) will trigger a git refresh, which will in general trigger a sync.

[2020-01-28 14:26] kovalyukm commented on #2137
The same issue for stable/prometheus-operator.

Log enries in app=helm-operator:
ts=2020-01-28T14:18:21.694042875Z caller=annotator.go:100 component=release release=test-release targetNamespace=monitoring resource=monitoring:helmrelease/prometheus-operator helmVersion=v3 err="Object 'Kind' is missing in 'null'"
...

[2020-01-28 14:37] stefanprodan commented on #2137
@kovalyukm please open an issue on the Helm operator repo https://github.com/fluxcd/helm-operator/issues/new/choose and please make sure you're on the latest version v1.0.0-rc8

[2020-01-28 14:56] fliphess commented on #1465
How to work around this issue when you are doing a helm upgrade of the helm-operator?

[2020-01-28 15:42] arjunsbabu opened #2796 "Flux is hang and yaml apply is very slow"
Hi Team,
We are creating a deploy key for each repo , cluster is remote , flux is installed in another central cluster.
git poll is 1min
git sync is 5min.
Still flux is hang for hours. No output in logs.

A clear and concise description of what the bug is.

Expected
Flux should apply the yamls every 5min or atleast tell whats wrong.

**Logs**
Please see the below two lines there is almost 1hr 30 m

[2020-01-28 16:22] 2opremio commented on #2796
How many manifests do you have in your git repo?

I would suggest increasing the memory and CPU of the Flux deployment.

Also, I would suggest upgrade Flux to 1.17.1

Also, there is an (incomplete) `kubectl apply` error in the logs, I would try to solve that.

[2020-01-28 16:33] 2opremio commented on #2796
e.g:

[code]

And see if things get better.

[2020-01-28 16:44] trevrosen commented on #2494
I'm seeing this too -- my list of resources updated is basically never remotely correct.

[2020-01-28 16:51] trevrosen commented on #2494
I too am seeing erroneous resources listed as updated in Flux logs (and therefore in Slack messages from Fluxcloud). I'm wondering whether this has anything to do w/ the fact that I'm using `--manifest-generation=true` with Kustomize.

[2020-01-28 16:56] 2opremio commented on #2494
Yes, I think that makes it worse, because:

https://github.com/fluxcd/flux/blob/28db2f568f4d4b8ead69226309801bd20770f5f9/pkg/daemon/sync.go#L219-L227

[2020-01-28 17:13] 2opremio commented on #2513
Closing, please comment if it is still an issue

[2020-01-28 17:13] #2513 closed

[2020-01-28 17:17] trevrosen commented on #2494
@2opremio yeah that makes sense. Perhaps the best solution here would be to make it easier to alter the event formatter template so that we can just elide the list of altered resources if we choose to.

[2020-01-28 22:51] stefanfritsch commented on #2718
I'm not dead set on it being called semver. I just think that there should be a way to apply increasing version numbers even if it's not strictly semver.

I'm also not dead set on the numbers being dot separated. I'd be just as happy with `major.minor.patch+build` or any other solution that allows me to be certain that `1.2.2+4` does not get "updated" by `1.2.1+5` because it's the newer build (due

[2020-01-29 10:02] #2657 closed

[2020-01-29 13:37] michaelbeaumont opened #2797 "Default namespace option (--k8s-default-namespace) has no effect"
**Describe the bug**

In spite of setting the `--k8s-default-namespace` option, the default namespace isn't applied to namespaced manifests without a specific `namespace`.

Seems to be [present in the `gitops-engine` branch](https://github.com/fluxcd/flux/issues/2614) as well

**To Reproduce**

Steps to reproduce the behaviour:

1. Setup `flux` including the `--k8s-default-namespace` option. E.g.:

[2020-01-29 13:58] 2opremio commented on #2797
:man_facepalming: after reviewing https://github.com/fluxcd/flux/pull/2625 , I can see that the option is not honoured when invoking `kubectl`.

I will fix that.

[2020-01-29 13:59] michaelbeaumont commented on #2797
I was actually hoping to fix it myself!

[2020-01-29 14:01] 2opremio commented on #2797
Even better, please do!

It should be as simple as passing `--namespace` to `kubectl` (assuming that respects the namespace in resources that provide it explicitly)

[2020-01-29 16:11] michaelbeaumont commented on #2797
`kubectl` seems to throw an error if the namespaces disagree so that won't work. I guess the intended usage is to limit operations to a single NS, so it makes sense to throw an error.

[2020-01-29 18:42] 2opremio commented on #2797
Then we will need to find another way. Maybe appending a default namespace
as a configuration to `KUBECONFIG`?

On Wed, Jan 29, 2020, 17:11 Michael Beaumont <notifications@github.com>
wrote:

[2020-01-29 18:50] 2opremio commented on #2797
For further reference https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable

Note that users may be already be setting it's value and that it may already contain a context and a default namespace (which should be overriden)

[2020-01-30 06:49] prometherion commented on #2771
@runningman84 I was trying to reproduce the issue and, in fact, it seems at first glance that the automation interval is not honored.

However, my logs differ, take a look to mine:

[code]

Did you redacted your logs just to highlight the message `polling for new images for automated workloads` or are you facing too the _wamer_ informing a new image has been updated?

[2020-01-30 06:51] runningman84 commented on #2771
My logs are not redacted, I don't have the warmer messages in between

[2020-01-30 08:32] prometherion commented on #2771
Thanks for the quick response!

May I ask you for the full output of the `flux` Pod? Obviously, redacting sensitive data!

It would be great (if possible and not impacting your production system) to restart the `flux` and `flux-memcached` Pods together: I'd like to see the full behavior with a cold cache.

You can achieve that easily:

[code]

[2020-01-30 14:12] 2opremio commented on #2794
We should probably have an explicit flag for this.

[2020-01-30 17:14] #2797 closed

[2020-01-30 17:50] rdubya16 opened #2801 "Manifest generation with Kustomize causes updates to timeout when including remote resources"
**Describe the feature**
Ability to use flux automated releases with kustomize manifests that contain kustomization.yamls that apply to multiple deployments.

**What would the new user story look like?**
Say you have kustomize manifest that looks like the following. The image directive overrides the image used on all the listed deploy resources with one change.

[code]

Currently with flux their i

[2020-01-30 18:27] 2opremio commented on #2801
@rdubya16 have you tried the `patchUpdated` variant of the `.flux.yaml` config file?

See  https://docs.fluxcd.io/en/1.17.1/references/fluxyaml-config-files.html#using-patch-updated-configuration , I think it does what you need.

[2020-01-30 18:31] 2opremio commented on #2801
If you want a more optimized way of updating the manifests, which assumes certain scheme (like in your example) then you will need to use a `commandUpdated` config file.

Flux is intentionally not opinionated about the manifest generation technology you use (and in particular the scheme you use with that technology).

[2020-01-30 18:33] rdubya16 commented on #2801
@2opremio I have looked at it. I guess I was just hoping to have a way to keep our kustomization.yaml as a source of truth for where our deployments are pointing rather than write another patch file that overrides it.

We are in fact using commandUpdated. The issue is that when you automate 50+ deploys each have to run the kustomize build. The loop was taking a very long time to reconcile it all.

[2020-01-30 18:52] sean-abbott opened #2802 "Flux is stripping annotations, preventing aws loadbalancer service"
**Describe the bug**

When running the example guestbook application (https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/eks-guestbook.md) on EKS with eksctl/flux, I couldn't get the loadbalancer to come up.

Finally, I took at look at the annotations. The annotations from my manifest:
[code]

But when I looked at the annotations that were deployed:

[code]
Client Version: ver

[2020-01-30 19:07] 2opremio commented on #2801
What is the validation error?

Note that Flux runs the `containerImage` commands for each workload/container affected. I haven't checked, but Flux may ensure that only that workload has been updated after a command (your command is ignoring what workload is affected in each invocation).

Alternatively, it could be that your command is not honoring what the update wants overall (even without Flux v

[2020-01-30 19:17] rdubya16 commented on #2801
Sure all pretty understandable. I don't have the exact error still in my case but it was similar to this. I believe it was because it was detecting changes to other workloads beyond the one I had put the automate flag on. Which is understandable as well.

So because I was using remoteBases with kustomize on a bunch of different git repos the total time to compute of the kustomize manifest was 13 s

[2020-01-30 19:20] 2opremio commented on #2801
Ah, yes, Flux rightfully disallows you to do that. I don't that switching off validation (or even optionally allowing it) is a good idea.

[2020-01-30 19:23] rdubya16 commented on #2801
Thanks for the quick response. All pretty understandable, we have been working on an operator to perform our database migrations and as such have expanded that to set the release in git and then have flux sync it. Im fine to close this one, just wanted to make sure I wasnt missing something

[2020-01-30 19:31] 2opremio commented on #2801
We shouldn't close this since it reflects a real problem.

I am thinking that maybe Flux could cache manifests generated for a commit hash (this would assume that the generation commands are pure, which I think is fair).

So, I am happy to look into this now, if you can spend some time helping me with testing. A good start is sharing the numbers I asked for above.

[2020-01-30 19:45] rdubya16 commented on #2801
I will have to do some testing and get back to you to answer some of these but what I do have. Time to generate manifest locally once: 14seconds
10 remote repo resources which in turn have a few remote repos of their own. Each of the repo folders have a kustomization.yaml in them that points to a handful of resources for each component. They are using git basic oauth tokens if that matters.

[code

[2020-01-30 19:54] rdubya16 commented on #2801
It seems to a pretty linear relationship with how many remote repos I have. As I remove them the time to process goes down as

[2020-01-30 21:37] 2opremio commented on #2801
Ahh, so the problem caused (or at least exacerbated) by remote resources, makes sense.

323 manifests is quite a few but doesn't sounds crazy.

As an experiment, could you try storing the remote resources locally and see if Flux starts working?

Alternatively (or in addition) you can increase `--sync-timeout` (which defaults to 1 minute).

It would help to know how many times `kustomize build` run

[2020-01-30 21:44] wmiller112 opened #2804 "How to use Flux to release Helm charts with secret sops-encrypted values?"
**Describe the bug**

I cannot seem to figure out a way to consume the decrypted values of a sops file via --sops=true or with a .flux.yaml patch update command: sops -d <encryptedFile.yaml> as values in a helm chart. For other files containing values that the helm chart consumes, we need to provide a valuesFrom. I am able to decrypt to another file (via .flux.yaml patch updated method), and then

[2020-01-30 22:33] 2opremio commented on #2802
Are you editing the resource in the cluster? Flux will make make sure that the cluster reflects what's on git. If you edit the annotations in the cluster resource Flux will overwrite them.

[2020-01-30 22:36] 2opremio commented on #2802
Regardless, I think this bug report belongs to https://github.com/awsdocs/amazon-eks-user-guide and/or https://github.com/weaveworks/eksctl

[2020-01-30 22:46] 2opremio commented on #2804
I am missing quite a few details on what you are trying to do. Please confirm if this is correct:
1. You have a chart definition in a Git repository
2. That is the repository provided to Flux for syncing
3. You deploy the chart through the Helm Operator
4. You want to release that chart using values which are secret and you want to somehow encrypt them with sops (and get them decrypted when the `H

[2020-01-30 22:58] 2opremio commented on #2804
An alternative (and probably simpler) way to sops to achieve the same thing is to use https://git-secret.io/ (`--git-secret` flag) and encrypt the full `HelmRelease`.

Note, however, that regardless of using `sops` or `git-secret`, once Flux reads the `HelmRelease` the values would be in clear-text and anybody with permissions to list/get `HelmRelease`s from the cluster will be able to read them .

[2020-01-30 23:33] wmiller112 commented on #2804
Yes, spot on. Apologies for the vagueness on the intent, will work on that. I appreciate the response and suggestions. Adding them directly to the `HelmRelease` makes sense, and I understand the risk associated there. I will implement this for the time being.

I definitely understand not wanting to tie this project to other technologies, and the suggestion to extend the HelmRelease definition is r

[2020-01-31 01:36] 2opremio commented on #2801
@rdubya16 can you try to use container image `2opremio/flux:cache-generators-for-patchupdated-configs-ddcfcac4` (built from #2805 ) with a `patchUpdated` configuration? It should be much much faster.

Please note that this is experimental.

[2020-01-31 03:19] wmiller112 commented on #2804
I'm fining that the generated decrypted file from the second method described here ends up in git after the first generation: https://github.com/fluxcd/flux/pull/2580#issuecomment-553372361

.flux.yaml:
[code]

If I don't output to a different file, and instead just `sops -d secrets.enc.yaml && kustomize build .`, kustomize gets the encrypted values and fails. I'm sure this is just me overlooking

[2020-01-31 07:17] prometherion opened #2806 "Leveled logging"
**Describe the feature**

Actually, filtering logs per level is quite tricky: users that want to get only `error` or `warning` messages have to parse output via _grep_ or any other viable solution, even worse if they want to get messages above a selected threshold (e.g.: just _warn_ and _err_).

Since `flux` is already using the dependency [go-kit](https://github.com/fluxcd/flux/blob/0810999e759bc

[2020-01-31 09:14] ikaruswill commented on #1761
I am running my own armv7 build of flux on a raspberry pi 3 7-node k3s cluster.

I've built my own image based on the work done by @onedr0p, following the official docker image as closely as possible.

https://hub.docker.com/r/ikaruswill/flux/tags

I'm expecting to keep this image up to date with drone-ci pipeline for as long as fluxcd doesn't have one for arm. Feel free to use them.

**Caveats:l*

[2020-01-31 11:17] 2opremio commented on #2804
Yes, after release/update operationswhatever is put in the git repository will be committed. Maybe we should only do that for `commandUpdated` config files.

[2020-01-31 12:59] rdubya16 commented on #2801
@2opremio Thanks! Will try to find some time this afternoon to test this out. I assume this requires using patchUpdated not commandUpdated?

[2020-01-31 13:03] 2opremio commented on #2801
Yes, It does

[2020-01-31 13:10] onedr0p commented on #1761
@ikaruswill I have a repo and build multiarch container image for flux and helm-operator, and some others. I'm trying to stay up too date with releases since they aren't automated on my end.

https://gitlab.com/onedr0p/flux
https://hub.docker.com/r/onedr0p/flux/tags

https://gitlab.com/onedr0p/helm-operator
https://hub.docker.com/r/onedr0p/helm-operator/tags

[2020-01-31 13:52] cstaud commented on #2718
Same for me! But as some maintainers wont break anything, even if its actually broken ;-) I try to show ways which don't change an old behavior.

In my opinion `semver` should do exactly _this_, as the actual implementation is a bug or at least technically incorrect documented.

[2020-01-31 14:55] onedr0p opened #2807 "Problem with enabling serviceMonitor with flux and helm-operator in the same namespace"
Hi, I am enabling the flux and helm-operator serviceMonitors and noticed there's some sort of race condition when both of these are deployed in the same namespace. I am using the helm charts for deploying.

For example my flux deployment has the following:

[code]

and my helm-operator deployment has the following:

[code]

When I check and see the servicemonitors in this namespace I only see one

[2020-01-31 15:07] ikaruswill commented on #1761
@onedr0p Awesome work, I see that you actually did build sops and helm-operator. I'll integrate them in my setup and image. Thanks for that.

[2020-01-31 15:08] 2opremio commented on #2804
Is the solution good enough for you?

[2020-01-31 15:11] onedr0p commented on #2807
This looks like something on my end, the helm operator chart looks like it should handle this... closing the issue.

[2020-01-31 15:40] onedr0p commented on #1761
The flux build is a bit crazy and I need to build sops, kustomize and flux concurrently or else the gitlab runners timeout because the build takes over an hour.

Here's what I mean: https://gitlab.com/onedr0p/flux/pipelines/113975458

[2020-01-31 16:12] sean-abbott commented on #2802
No, this is coming in via git.  The annotations were in git, and were
actually never applied. When I took the same manifest and applied it with
kubectl, those annotations were there.

On Thu, Jan 30, 2020 at 5:33 PM Alfonso Acosta <notifications@github.com>
wrote:

[2020-01-31 16:43] prometherion opened #2808 "No error is raised for install and version commands followed by arguments"
**Describe the bug**

Commands `install` and `version` don't raise the [errorWantedNoArgs](https://github.com/fluxcd/flux/blob/master/cmd/fluxctl/error.go#L31) error (pretty-printed: `expected no (non-flag) arguments`) even they doesn't require any argument.

**To Reproduce**

[code]

**Expected behavior**

Like for other commands that don't need arguments, the error `expected no (non-flag) argume

[2020-01-31 16:58] 2opremio commented on #2802
Could you narrow down the problem to a self-contained Git repo I can use to reproduce it without EKS? Are you sure it's Flux stripping the annotations and not EKS in some way?

[2020-01-31 17:00] #2808 closed

[2020-01-31 19:49] wmiller112 commented on #2804
Yes, it is. Thanks again for your guidance on this.

[2020-02-01 04:17] #2807 closed

[2020-02-01 20:00] davidtom commented on #2547
Just want to echo the ask for updates. Also trying to set up FluxCD on Azure and this is currently blocking me from moving forward with it.

[2020-02-02 04:42] derrickburns opened #2810 "Allow adding annotations to deployments"
Tools like `reloader` can restart pods is the `deployment` is properly annotated.

Please allow the ability to pass in annotations to the `flux` deployment (not the pods).

[2020-02-03 11:54] arjunsbabu commented on #2796
@2opremio ok thanks for the suggestion . i will change the image and resource request and check whether the issue is repeating or not. Can i use the existing arguments with the latest image or will it cause any compatibility issues ???

[2020-02-03 12:26] setonez commented on #1816
I have the same issue with kubernetes Jobs, making almost impossible to use GitOps approach with them.

[2020-02-03 12:51] 2opremio commented on #2793
I am not opposed to these idea but could you define the metrics? What's new or filtered depends on the workload and I am not sure we want to publish that per workload.

[2020-02-03 12:55] 2opremio commented on #2796
I think the flags should be compatible, but please read the [CHANGELOG](https://github.com/fluxcd/flux/blob/master/CHANGELOG.md) to be sure

[2020-02-03 13:01] #2115 closed

[2020-02-03 13:02] 2opremio opened #2812 "Improve observability and error reporting in Flux"
Users have been requesting better observability and error reporting in Flux for a while.

We should improve that situation, letting users monitor the state of Flux and diagnose any problems easily.

Right now we provide a few alternatives which aren't 100% satisfactory and should be improved:

* An event API. Which is not documented and which was originally aimed at getting notifications on [Weave

[2020-02-03 13:36] #2703 closed

[2020-02-03 13:38] #2804 closed

[2020-02-03 13:47] yiannistri commented on #1783
@hiddeco @2opremio I'd be willing to get a PR/discussion going on this and get feedback if you like (or agree that the current approach is good enough 😄) So from my understanding the challenges are:

- Test fixtures are buried in one package that many other packages are using
- Keep test code close to the package
- Avoid having (almost) identical test fixtures in many places

Is there anything els

[2020-02-03 13:53] 2opremio commented on #2790
I think we have a compelling usecase to keep `--git-readonly` and `--registry-scanning` independent: the ability to keep using the git tag to keep track of syncs while disabling repo scanning. See https://github.com/fluxcd/flux/pull/2745#issuecomment-581041377

So, now I am with @squaremo .

[2020-02-03 13:54] 2opremio commented on #2790
I would keep the name of the flag as is though.

[2020-02-03 14:40] #2584 closed

[2020-02-03 14:47] 2opremio commented on #1783
I think it would also be good to have varied fixtures and incorporate fixtures employing `.flux.yaml` files. But maybe that's out of scope.

[2020-02-03 16:17] 2opremio commented on #2790
Actually, how it is now `--git-readonly=true` implies `--registry-scanning=false` and not the other way around (although the help message is wrong). So, the user can still freely do `--registry-scanning=false` and `--git-readonly=false`.

[2020-02-03 16:20] 2opremio commented on #2790
Anyways. I think I will keep the flags independent for now.

[2020-02-03 17:29] 2opremio commented on #2672
Flakey execution of the image release e2e test: https://circleci.com/gh/fluxcd/flux/9930

[2020-02-03 17:38] prometherion opened #2814 "Implementing Redis as alternative for image registry cache"
**Describe the feature**
A top feature of `flux` is the registry scanning, a component that scans container image registries to populate a cache and speed up the retrieval of the most recently released tag.

This feature would like to implement the `redis` strategy beside `memcached` one due to its popularity among the K/V stores landscape.

From an operational perspective, implementing a tool mea

[2020-02-03 18:41] 2opremio opened #2816 "fluxctl policy --tag-all='' fails with kubeyaml error instead of removing the tags"
Using https://github.com/fluxcd/flux-get-started in the context of the e2e tests I get this error:

[code]

[2020-02-03 23:55] 2opremio commented on #2672
I actually don't think it was a flakey test since it failed 3 times in a row. There must be a bug in that PR

[2020-02-04 09:44] dewe opened #2818 "Running `fluxctl sync` does not apply manifests"
**Describe the bug**

When doing a manual sync, with `fluxctl sync` flux does not apply the current manifests. Nothing gets applied until the next `sync-interval` time.

We expect flux sync to apply the manifests immediately and not wait for sync-interval to occur.

This is important in situations when something gets deleted by accident and we need to re-apply the current state.

**To Reproduce**

[2020-02-04 09:46] hiddeco commented on #2818
Related to #2487

[2020-02-04 11:41] 2opremio commented on #2801
Did you find some time to test it?

[2020-02-04 12:14] 0x46616c6b opened #2820 "Field "ts" in logs is a string not a timestamp"
**Describe the bug**

We run various services in our K8s and we collect all the logs in Elasticsearch. Some services (like Vault and Jaeger) use the field `ts` as well as flux does. But flux logs a string in this field, so the Index Mappings from Elasticsearch conflicts with the `ts` field. Some day it is a long, some other day it is a string.

**To Reproduce**

- start flux with json or fmt loggi

[2020-02-04 12:55] rdubya16 commented on #2801
@2opremio Sorry havent forgot about this. We are just at the end of a release doing planning. Will make sure to find time this week.

[2020-02-04 12:57] 2opremio commented on #2820
The logs are output in JSON, so we cannot simply remove the quotes.

We use the example straight from go-kit (except for the JSON format) so I bet other projects have the same "problem"

Unfortunately we cannot simply change the format because other people may be already be processing the logs.

I suggest you preprocess the logs during ingestion so that the are uniform with respect to other projec

[2020-02-04 14:39] ricoberger commented on #2793
Hi, publishing these metrics per workload can be to much. Maybe it's possible to only publish the following metrics:

- `flux_new_available_images_total{name="grafana"} 1`: The number of new available images found by Flux. `name` is the name of the container.
- `flux_new_filtered_images_total{name="grafana"} 1`: If I get it right this is the number of new images found by Flux and filtered by the `

[2020-02-04 15:18] 0x46616c6b commented on #2820
The other projects I mentioned use https://github.com/uber-go/zap for logging and zap also uses the `ts` field but with a Unix Timestamp (`long` in Elasticsearch). So there comes the conflict. But as I think ts stands for timestamp and for me a timestamp is a number, not a formatted time string, I would expect in flux it behave the same.

[2020-02-04 21:28] 2opremio commented on #2672
Flakey policy update unit test: https://circleci.com/gh/fluxcd/flux/9984

[2020-02-05 00:30] #2593 closed

[2020-02-05 01:31] hiddeco commented on #2672
Policy update unit test, and panic in releaser unit test due to registry timeout issue: https://circleci.com/gh/fluxcd/flux/9998

[2020-02-05 12:50] 2opremio commented on #2801
No problem. Please let me know when you get to it, I would like to make sure it solves your usecase before merging.

[2020-02-05 13:49] yiannistri commented on #1783
By varied fixtures do you mean the ability to build different test data according to the needs of each test? Like fluent test data builders?

[2020-02-05 14:08] #2790 closed

[2020-02-05 14:20] 2opremio commented on #1783
Yes.

[2020-02-06 14:54] squaremo commented on #2755
I'm not sure I would trust ruamel to output valid JSON given a JSON input. JSON-is-YAML works in your favour for the input, but not the output.